@import '~@fortawesome/fontawesome-free/css/all.css';
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100vh;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 130px;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem 1rem; /* Adjust padding as needed */
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
    display: block; /* Set buttons to block to take full width of parent */
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    /* Blanco */
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='none' stroke='rgba(255,255,255,.85)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    /* Negro */
    /* content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e"); */
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    /* overflow-x: scroll; */    
    overflow-x: hidden;

  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: #192233;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  /* .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  } */

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: hidden;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  /* .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  } */
  .bd-mode-toggle {
    z-index: 1500;
  }
  /* -----------------Sidebar Efecto oculto--------------------------------- */
  .container {
    position: relative;
  }
  .sidebar-list {
    text-align: left;
  }
  .sidebar-item {
    margin-left: 0; /* Ajusta el margen izquierdo según tu preferencia */
    padding: 8px 0; /* Ajusta el espaciado interno vertical según tu preferencia */
    text-align: left; /* Alinea el contenido a la izquierda */
  }
  .sidebar-item :hover{
    /* background-color: rgba(
      68,
      182,
      202,
      0.2
    );  */
    transform: translateX(5px); /* Mueve la tarjeta 10px hacia la derecha */
    
  }
  .sidebar {
    height: 100vh;
    overflow-x: hidden;

    position: fixed;
    top: 0;
    left: -39px; /* Inicialmente oculta la barra lateral fuera de la pantalla */
    width: 230px;
    
    background-color: rgba(30, 39, 58, 0.988);
    transition: left 0.3s ease;
    margin-top: 100px; /* Ajusta el margen superior para evitar la superposición con la navbar */
    margin-bottom: 150px;
    z-index: 1;
   
  }
  
  .content {
    margin-left:230px; /* Deja espacio para la barra lateral visible */
    transition: margin-left 0.3s ease;
  }
  
  .container:hover #sidebar {
    left: 0; /* Muestra la barra lateral cuando se pasa el ratón por el lateral izquierdo */
  }
  
  .container:hover .content {
    margin-left: 0; /* Desplaza el contenido principal para dar espacio a la barra lateral visible */
  }
  /* ------------------Iconos-------------------------------- */
  /* .sidebar-icons {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    height: 100vh;
    width: 50px;
    background-color: #450c0c;
    color: #fff;
  } */
  
/* element.style {
} */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #7699cd05;
}

.iconPading{
  padding: 10px; /* Ajusta este valor según tu preferencia para el espaciado */

  margin-right: 1px;
  padding-left: 1px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px!important;
    padding-left: 0px !important;

}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #01C3CC;
   /* background: linear-gradient(
    11deg,
    rgba(0, 172, 234, 0.52) 5%,
    rgba(0, 239, 209, 0.52) 59%
  ); */
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link.active {
  color: #cf4242}
  .color {
    color: var #cf4242;
    text-decoration: underline;
}
a {
  color: rgb(241, 243, 244); /* Cambia "red" al color deseado */
}
.titulosBotones {
    font-size: 16px;
    font-family:Arial, Helveica, sans-serif;    
    font-weight: normal;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.menu-item-content {
  border-bottom: 1px solid #fff; /* Adjust the border style as needed */
  padding: 8px; /* Adjust the padding as needed */
}
/* Añade este CSS para crear la viñeta circular */
.bullet-circle {
  display: inline-block;
  width: 10px; /* Ajusta el tamaño del círculo */
  height: 10px; /* Ajusta el tamaño del círculo */
  background-color: #fff; /* Establece el color del círculo */
  border-radius: 50%; /* Crea una forma circular */
  margin-right: 10px; /* Ajusta el margen a la derecha para separar el círculo del texto */
  margin-top: 7px; 
  vertical-align: middle; /* Alinea verticalmente el círculo con el texto */
}
.tituloContacto{
  font-size: 16px !important;
  font-family:Arial, Helveica, sans-serif;    
  font-weight: normal;
  color: #01C3CC;

}
/* ---------opciones del menu laterial-------- */
