<div class="body">
  <h1 class="text-center titulo tituloFuente">Consultar Fumigaciones</h1>
  <!-- Contenido de breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="padding-left: 310px; font-size: 18px">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Consultar Fumigaciones
      </li>
    </ol>
  </nav>
  <div class="container mt-12">

<!-- ----------------------------Inicio de Paso a Paso-------------------------------------------- -->
<mat-vertical-stepper>
  <mat-step
    [label]="titulo1"
    [completed]="isStep1Completed"
    [ngClass]="{ collapse: isCollapsed1 }"
  >
    <ng-container contenido-paso-1>
      <div class="card-body" [ngClass]="{ collapse: isCollapsed2 }">
  
        <div class="row containerCard">
  
          <div class="col-12 cardFiltrado cardAnimate cardFlat cardSeparacion">
            <div>
              <div class="row">
                <div class="col-md-2 image-container">
                  <span
                    ><img
                      style="width: 102%; height: 102"
                      src="../../../assets/icons8-user-64_1.png"
                      class="image"
                      alt="..."
                    />
                    <div class="texto">
                      <h4
                        style="
                          text-align: center;
                          color: #63ddff;
                          font-size: 18px;
                        "
                      >
                        Filtrar Central
                      </h4>
                    </div></span
                  >
                </div>                 

                <div
                class="col-md-1 vertical-line"
                style="width: 20px"
              ></div>
              <div class="col-md-2 margenFiltros">
                <div
                  class="form-outline input-group"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Buscar por Código de Central"
                >
                  <label class="search-field">
                    <mat-label
                      class="search-field label ng-tns-c97-48 ng-star-inserted"
                      >Código de Central</mat-label
                    >
                    <input
                      type="text"
                      class="form-control inputBusqueda .input-con-color-de-fondo"
                      placeholder="Ej. 1"
                      (keyup)="esFiltrar($event , 'codigo')"
                    />                             
                    <i
                      class="fas fa-search FormatoIconos"
                      style="padding-left: 20px"
                    ></i>
                  </label>
                </div>                          
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 cardFiltrado cardAnimate cardFlat cardSeparacion">
          <div class="h-100 d-flex align-items-center justify-content-center">
            <div
              class="example-button-row"
              style="display: flex; justify-content: flex-end"
            >
              <button
                mat-fab
                extended
                color="primary"
                class="btnAgregar"
                routerLink="/registrar-fumigaciones"
              >
                <mat-icon>touch_app</mat-icon>
                Registar Fumigaciones
              </button>
            </div>
          </div>
        </div>   
     
      </div>
      <br />
      <br />


      <div class="row">
        <div class="col-12 cardFiltrado cardAnimate cardFlat">
          <table class="table" *ngIf="validarFiltrado() == true" id="servicio">
            <thead class="encabezado">
              <tr>
                <th
                  (click)="ordenarPor('cenNro')"
                  [appSort]="CentralConsultaFiltrados"
                  data-order="desc"
                  data-name="cenNro"
                  style="text-align: center"
                >
                  <a
                    >Cod. {{ ordenarIcono("cenNro") }}</a
                  >
                </th>
                <th
                  (click)="ordenarPor('cenImei')"
                  [appSort]="CentralConsultaFiltrados"
                  data-order="desc"
                  data-name="cenImei"
                  style="text-align: center"
                >
                  <a>IMEI {{ ordenarIcono("cenImei") }}</a>
                </th>
                <th
                  (click)="ordenarPor('cenCoorX')"
                  [appSort]="CentralConsultaFiltrados"
                  data-order="desc"
                  data-name="cenCoorX"
                  style="text-align: center"
                >
                  <a>Coordenada X {{ ordenarIcono("cenCoorX") }}</a>
                </th>
                <th
                  (click)="ordenarPor('cenCoorY')"
                  [appSort]="CentralConsultaFiltrados"
                  data-order="desc"
                  data-name="cenCoorY"
                  style="text-align: center"
                >
                  <a>Coordenada Y {{ ordenarIcono("cenCoorY") }}</a>
                </th>
                <th></th>
                <th scope="col">Seleccionar</th>             
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-row"
                *ngFor="
                  let central of CentralConsultaFiltrados
                    | paginate
                    : {
                      itemsPerPage: pageSizeCentral,  
                      currentPage: currentPageCentral,  
                      totalItems: totalItemsCentral  
                    };
                  let i = index
                "
                [ngClass]="{
                  'fila-par': i % 2 == 0,
                  'fila-impar': i % 2 == 1
                }"
                (click)="esfilaSeleccionada(central)"
              >
                <th style="vertical-align: middle align-center">
                  {{ central.cenNro }}
                </th>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ central.cenImei }}
                </td>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ central.cenCoorX }}
                </td>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ central.cenCoorY }}
                </td>  
                <td class="empty-column"></td>
                <td class="align-center">
                  <button
                    mat-button
                    (click)="esfilaSeleccionada(central) ; seleccionarCentral(); goToNextStep(1)"               
                    type="button"
                    class="btn"
                    data-bs-target="#staticBackdrop"
                    title="Seleccionar Cliente"
                  >
                    <img
                      src="../../../assets/seleccionarClie.png"
                      class="image"
                      alt="..."
                    />
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
          <div
            class="align-center"
            *ngIf="validarFiltrado() == true"
          >
            <pagination-controls
              (pageChange)="paginaCambiadaCentral($event)"
              itemsPerPage="pageSizeCentral"
              totalItems="totalItemsCentral"
            ></pagination-controls>
          </div>
        </div>
        <div
          class="alert alert-primary text-center"
          role="alert"
          *ngIf="validarFiltrado() == false"
        >
          No se encontraron centrales que coincidan con su búsqueda.
        </div>
      </div>

        </div>
    </ng-container>  
  </mat-step>

  <mat-step
  [label]="titulo2"
  [completed]="isStep2Completed"
  [ngClass]="{ collapse: isCollapsed2 }"
  >
    <ng-container contenido-paso-2>    
      <!-- Botón ver otra central -->
      <div class="row">
        <div
          class="example-button-row"
          style="display: flex; justify-content: flex-end"
        >
          <button
            mat-fab
            extended
            color="primary"
            class="btonNuevaConsulta"
            (click)="goToPreviousStep()"
          >
            <mat-icon>touch_app</mat-icon>
            Nueva Consulta
          </button>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-12 cardFiltrado cardAnimate cardFlat">
          <table class="table" *ngIf="validarFiltradoFumigacion() == true">
            <thead class="encabezado">
              <tr>
                <th
                  (click)="ordenarPorFum('fumId')"
                  [appSort]="Fumigaciones"
                  data-order="desc"
                  data-name="fumId"
                  style="text-align: center"
                >
                  <a
                    >Cod. Fumigación {{ ordenarIconoFum("fumId") }}</a
                  >
                </th>
                <th
                  (click)="ordenarPorFum('fumFechaAlta')"
                  [appSort]="Fumigaciones"
                  data-order="desc"
                  data-name="fumFechaAlta"
                  style="text-align: fumFechaAlta"
                >
                  <a>Fecha Alta {{ ordenarIconoFum("fumFechaAlta") }}</a>
                </th>
                <th
                  (click)="ordenarPorFum('fumFechaRealizacion')"
                  [appSort]="Fumigaciones"
                  data-order="desc"
                  data-name="fumFechaRealizacion"
                  style="text-align: center"
                >
                  <a>Fecha Realización {{ ordenarIconoFum("fumFechaRealizacion") }}</a>
                </th>
                <th
                  (click)="ordenarPorFum('fumObservacion')"
                  [appSort]="Fumigaciones"
                  data-order="desc"
                  data-name="fumObservacion"
                  style="text-align: center"
                >
                  <a>Observación {{ ordenarIconoFum("fumObservacion") }}</a>
                </th>                  
                <th></th>
                <th scope="col" style="text-align: center">
                  Desactivar
                </th>
                <th scope="col" style="text-align: center">
                  Ver Más
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-row"
                *ngFor="
                  let fumigacion of Fumigaciones
                    | paginate
                      : {
                          itemsPerPage: pageSizeFumigacion,
                          currentPage: currentPageFumigacion,
                          totalItems: totalItemsFumigacion
                        };
                  let i = index
                "
                [ngClass]="{
                  'fila-par': i % 2 == 0,
                  'fila-impar': i % 2 == 1
                }"
                (click)="esfilaSeleccionadaFumigacion(fumigacion)"
              >
                <th style="vertical-align: middle align-center">
                  {{ fumigacion.fumId }}
                </th>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ fumigacion.fumFechaAlta | date: 'yyyy-MM-dd' }}
                </td>
                <td style="vertical-align: middle" class="textIzquierda">
                  {{ fumigacion.fumFechaRealizacion | date: 'yyyy-MM-dd'  }}
                </td>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ fumigacion.fumObservacion }}
                </td>
                <td class="empty-column"></td>
                <td class="align-center">
                  <button
                    type="button"
                    class="btn entreBotones bordeBoton"
                    data-bs-target="#staticBackdrop"
                    data-bs-toggle="modal"
                    (click)="abrirModal('Eliminar Fumigación')"
                    title="Eliminar Fumigación"
                  >
                    <img
                      src="../../../assets/no check.png"
                      class="iconosBoton"
                      alt="..."
                    />
                  </button>
                </td>
                <td class="align-center">
                  <button                      
                    type="button"
                    class="btn entreBotones bordeBoton"
                    data-bs-target="#staticBackdrop"
                    data-bs-toggle="modal"
                    (click)="abrirModal('Ver Mas')"
                    title="Ver Más Opciones"
                  >
                    <img
                      src="../../../assets/seleccionarClie.png"
                      class="image"
                      alt="..."
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="align-center"
            *ngIf="validarFiltradoFumigacion() == true"
          >
            <pagination-controls
              (pageChange)="paginaCambiadaFumigacion($event)"
              itemsPerPage="pageSizeFumigacion"
              totalItems="totalItemsFumigacion"
            ></pagination-controls>
          </div>
        </div>
        <div
          class="alert alert-primary text-center"
          role="alert"
          *ngIf="validarFiltradoFumigacion() == false"
        >
          No se encontraron fumigaciones que coincidan con su búsqueda.
        </div>
      </div>


      <br>
    </ng-container>
  </mat-step>

</mat-vertical-stepper>
</div>  
<br />
</div>

<div class="row">
  <div class="modal-footer text-center col-3" *ngIf="this.centralNroSeleccionada !== 0">
    <button type="submit" id="btnAgregar" class="btn btn-success" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop" (click)="abrirModal('Agregar Fumigación')">Agregar Fumigación
    </button>
  </div>
</div>     
    

<br/>


<app-modal titulo="{{titulo}}">
  <!-- Seccion de Modificación de Fumigacion --> 
 <div *ngIf="titulo == 'Ver Mas'">
   <form [formGroup]="formModificar" class="row g-3">
       <fieldset id="fieldset">
           
        <div class="col-md-12">
          <div class="form-outline input-group mb-3">
              <span class="input-group-text">Nro Central </span>
              <input type="text" class="form-control" id="nroCentral" value="nroCentral"
                  formControlName="nroCentral" readonly/>
          </div>        
        </div>
        <div class="col-md-12">
            <div class="form-outline input-group mb-3">
              <span class="input-group-text">Cod. Fumigación</span>                    
              <input type="text" class="form-control" id="idFum" value="idFum" 
                formControlName="idFum" readonly/>                    
            </div>              
          </div>

           <div class="col-md-12">
             <div class="form-outline input-group mb-3">
                 <span class="input-group-text">Fecha de Alta</span>
                 <input type="text" class="form-control" id="fechaAlta" value="fechaAlta"
                     formControlName="fechaAlta" readonly/>
             </div>   
           </div>

           <div class="col-md-12">
             <div class="form-outline input-group mb-3">
                 <span class="input-group-text">Fecha de Realización</span>
                 <input type="text" class="form-control" id="fechaRealizacion" value="fechaRealizacion"
                     formControlName="fechaRealizacion" readonly/>
             </div>       
           </div>

         <div class="col-md-12">
               <div class="form-outline input-group mb-3">
                   <span class="input-group-text">Observación</span>
                   <input type="text" class="form-control" id="observacion" value="observacion"
                       formControlName="observacion" />
                        <span class="input-group-text" title="{{caracteresValidosObservacion}}"><svg                    
                         xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-question-circle" viewBox="0 0 16 16">
                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                         <path
                             d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                       </svg>
                   </span>
               </div>
              <div *ngIf="observacion?.invalid && (observacion?.dirty || observacion?.touched)" class="text-danger">
                 <div *ngIf="observacion?.errors?.['pattern']">
                  No debe contener caracteres especiales ni tener más de 50 caracteres. </div>
               </div> 
           </div>

       </fieldset>
   </form>
   <div class="row">
     <div class="modal-footer text-center col-3">
         <button [disabled]="!mostrarBtnEditarModificacion" type="submit" id="btnEditar" class="btn btn-success" (click)="desbloquearEditar()">Editar</button>
     </div>
     <div class="modal-footer text-center col-3">
         <button [disabled]="!mostrarBtnAceptarModificacion" id="btnAceptarModificacion" type="submit" class="btn btn-success" (click)="modificarFumigacion()">Aceptar</button>
     </div>
     <div class="modal-footer text-center col-3"> 
         <button style="background-color: #0e3c53;" id="CancelarModificacion" type="button" class="btn text-white"data-bs-dismiss="modal">Cancelar</button>        
     </div>
     <div *ngIf="validarControlesMod() == '2'" class="text-danger">
       Verifique los campos ingresados
     </div>
   </div>
 </div>   

 <div *ngIf="titulo == 'Eliminar Fumigación'">
  <form [formGroup]="formModificar" class="row g-3">
      <fieldset id="fieldset">
          
       <div class="col-md-12">
         <div class="form-outline input-group mb-3">
             <span class="input-group-text">Nro Central </span>
             <input type="text" class="form-control" id="nroCentral" value="nroCentral"
                 formControlName="nroCentral" readonly/>
         </div>        
       </div>
       <div class="col-md-12">
           <div class="form-outline input-group mb-3">
             <span class="input-group-text">Cod. Fumigación</span>                    
             <input type="text" class="form-control" id="idFum" value="idFum" 
               formControlName="idFum" readonly/>                    
           </div>              
         </div>

          <div class="col-md-12">
            <div class="form-outline input-group mb-3">
                <span class="input-group-text">Fecha de Alta</span>
                <input type="text" class="form-control" id="fechaAlta" value="fechaAlta"
                    formControlName="fechaAlta" readonly/>
            </div>   
          </div>

          <div class="col-md-12">
            <div class="form-outline input-group mb-3">
                <span class="input-group-text">Fecha de Realización</span>
                <input type="text" class="form-control" id="fechaRealizacion" value="fechaRealizacion"
                    formControlName="fechaRealizacion" readonly/>
            </div>       
          </div>

        <div class="col-md-12">
              <div class="form-outline input-group mb-3">
                  <span class="input-group-text">Observación</span>
                  <input type="text" class="form-control" id="observacion" value="observacion"
                      formControlName="observacion" readonly />
                      <span class="input-group-text" title="{{caracteresValidosObservacion}}"><svg 
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                      </svg>
                  </span>
              </div>
          </div>

      </fieldset>
  </form>
  <div class="row">
    <div class="modal-footer text-center col-3">
      <button type="submit" class="btn btn-success" data-bs-toggle="button"             
      data-bs-dismiss="modal" (click)="desactivarFumigacion()">Confirmar</button>
    </div>
    <div class="modal-footer text-center col-8">
      <button style="background-color: #0e3c53;" id="Cancelar" type="button" class="btn text-white"
        data-bs-dismiss="modal">Cancelar</button>        
    </div>
  </div>
</div>


<div *ngIf="titulo == 'Agregar Fumigación'">
  <form [formGroup]="formAgregar" class="row g-3">
      <fieldset id="fieldset">
          
        <div class="col-md-12">
          <div class="form-outline input-group mb-3">
              <span class="input-group-text">Nro Central </span>
              <input type="text" class="form-control" id="nroCentralA" value="nroCentralA"
                  formControlName="nroCentralA" readonly/>
          </div>        
        </div> 
        <div class="col-md-12">
          <div class="form-outline input-group mb-3" id="datepicker">
            <span class="input-group-text">Fecha de Realización</span>
            <input type="date" id="fechaRealizacionA" class="form-control" formControlName="fechaRealizacionA">
          </div>             
        </div>    
        <div class="col-md-12">
              <div class="form-outline input-group mb-3">
                  <span class="input-group-text">Observación</span>
                  <input type="text" class="form-control" id="observacionA" value="observacionA"
                      formControlName="observacionA"/>
                       <span class="input-group-text" title="{{caracteresValidosObservacion}}"><svg                    
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                      </svg>
                  </span>
              </div>
             <div *ngIf="observacionA?.invalid && (observacionA?.dirty || observacionA?.touched)" class="text-danger">
                <div *ngIf="observacionA?.errors?.['pattern']">
                  No debe contener caracteres especiales ni tener más de 50 caracteres. </div>
              </div> 
          </div>
      </fieldset>
  </form>
  <div class="row">
    <div class="modal-footer text-center col-3">
        <button type="submit" id="Validar" class="btn btn-success" (click)="agregarFumigacion()">
          Agregar</button>
    </div>
    <div class="modal-footer text-center col-8">
      <button style="background-color: #0e3c53;" id="Cancelar" type="button" class="btn text-white"
        data-bs-dismiss="modal">Cancelar</button>        
    </div>
    <div *ngIf="validarControlesAgregar() == '2' " class="text-danger">
      Verifique los campos ingresados
    </div>
  </div>
</div>   

</app-modal>




