<div class="body">
  <h1 class="text-center titulo tituloFuente">Consultar Alarmas</h1>
  <!-- Contenido de breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="padding-left: 310px; font-size: 18px">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Consultar Alarmas
      </li>
    </ol>
  </nav>

  <div class="container mt-12">

<!-- ----------------------------Inicio de Paso a Paso-------------------------------------------- -->

<mat-vertical-stepper>
  <mat-step
    [label]="titulo1"
    [completed]="isStep1Completed"
    [ngClass]="{ collapse: isCollapsed1 }"
  >
    <ng-container contenido-paso-1>
      <div class="card-body" [ngClass]="{ collapse: isCollapsed2 }">
        <form [formGroup]="formfiltro">

        <div class="row justify-content-center">
          <div class="col-10 cardFiltrado cardAnimate cardFlat">
            <div class="row">
              <div class="col-md-2">
                <div class="col-md-12 image-container">
                  <span>
                    <img style="width: 95%; height: 95%" src="../../../assets/notification-bell.png" class="image" alt="..." />
                    <div class="texto">
                      <h4 style="text-align: center; color: #63ddff; font-size: 18px;">Filtrar Alarma</h4>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-md-9">

                <div class="row">
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Alarma">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Número de Alarma</mat-label>
                        <input formControlName="nroAlarma" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 1" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Central">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Código de Central</mat-label>
                        <input formControlName="nroCentral" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 2" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Medición">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Número de Medición</mat-label>
                        <input formControlName="nroMed" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 40" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por nombre de Servicio">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Nombre de Servicio</mat-label>
                        <input formControlName="nombreServ" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. Temperatura" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por descripción Mensaje">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Descripción Mensaje</mat-label>
                        <input formControlName="nombreMensaje" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. Valor SUPERIOR" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por valor de Medición">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Valor de Medición</mat-label>
                        <input formControlName="valorMed" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 35" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-4 margenFiltrosSlite">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Filtrar por Fecha">
                      <mat-slide-toggle id="op1" (change)="filtroFecha($event)">Filtrar por Fecha</mat-slide-toggle>
                    </div>
                  </div>

                  <div class="col-md-2 margenFiltrosFecha">
                    <mat-form-field [formGroup]="formfiltro">
                      <mat-label>Ingrese Rango de Fecha</mat-label>
                      <div class="input-container">
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate formControlName="fecha_desde" placeholder="Desde">
                          <input matEndDate formControlName="fecha_hasta" placeholder="Hasta">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      </div>
                      <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4 margenFiltros">
                      <div class="row margenFiltrosBtn">
                        <div
                          class="example-button-row"
                          style="display: flex; justify-content: flex-end"
                        >
                          <button
                            mat-fab
                            extended
                            color="primary"
                            class="btnAplicarFiltro"
                            (click)="filtarXFechas()"
                            [disabled]="!habilitarBoton"
                            >
                            <mat-icon>touch_app</mat-icon>
                            Aplicar Filtro
                          </button>
                        </div>
                      </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </form>
      <br />
      <br />

      </div>


      <div class="row justify-content-center">
        <div class="col-12 cardFiltrado cardAnimate cardFlat">
          <!-- app.component.html -->
          <div class="table" *ngIf="dataSourceAlarmas">
              <table mat-table [dataSource]="dataSourceAlarmas" matSort #matSortAlarmas="matSort">

              <!-- Columnas -->
              <ng-container matColumnDef="almId">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="almId">Alarma Nro.</th>
                <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.almId }}</td>
              </ng-container>

              <ng-container matColumnDef="almIdMedicion">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="almIdMedicion">Med. Nro.</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.almIdMedicion }}</td>
              </ng-container>

              <ng-container matColumnDef="cenNro">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="cenNro">Central Nro.</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.cenNro }}</td>
              </ng-container>

              <ng-container matColumnDef="serDescripcion">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Servicio</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
              </ng-container>

              <ng-container matColumnDef="almMensaje">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="almMensaje">Mensaje</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.almMensaje }}</td>
              </ng-container>

              <ng-container matColumnDef="medValor">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="medValor">Valor Medición</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.medValor }}</td>
              </ng-container>

              <ng-container matColumnDef="almFechaHoraBD">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="almFechaHoraBD">Servicio</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.almFechaHoraBD | date: 'dd-MM-yyyy' }}</td>
              </ng-container>

              <!-- Columna vacia -->
              <ng-container matColumnDef="columnaVacia">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef></th>
                <td class="table-row" class="align-center" mat-cell *matCellDef="let element"></td>
              </ng-container>

              <!-- Columna de acciones -->
              <ng-container matColumnDef="visto">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="visto">Estado</th>
                <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                  <!-- <span *ngIf="element.almVisto === false">Nueva</span>
                  <span *ngIf="element.almVisto === true">Visto</span> -->
                  <span *ngIf="element.almVisto === false">
                    <img
                      src="../../../assets/recibidoAlarma.png"
                      class="iconosBoton"
                      alt="..."
                    />
                    <!-- src="../../../assets/recib.png" -->
                  </span>
                  <span *ngIf="element.almVisto === true">
                    <img
                      src="../../../assets/vistoAlarma.png"
                      class="iconosBoton">
                  </span>

                </td>
              </ng-container>

              <!-- Filas -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsAlarmas"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsAlarmas;
                let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
              </tr>

            </table>

            <!-- Paginador -->
            <mat-paginator *ngIf="dataSourceAlarmas"
              [length]="dataSourceAlarmas.data.length"
              [pageSize]="pageSizeAlarmas"
              [pageSizeOptions]="[5, 15, 25, 50, 100]"
              (page)="handlePageChangeAlarmas($event)"
              showFirstLastButtons
              #paginatorAlarmas
            ></mat-paginator>

            <div class="align-center" *ngIf="validarFiltradoAlarma() == true">
            </div>

            <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoAlarma() == false">
              No se encontraron alarma que coincidan con su búsqueda.
            </div>

          </div>
        </div>
      </div>

      <br>
      <br>

    </ng-container>
  </mat-step>
</mat-vertical-stepper>
