<div class="body">
  <h1 class="text-center titulo tituloFuente">Consultar Alarmas</h1>
  <!-- Contenido de breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="padding-left: 310px; font-size: 18px">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Consultar Alarmas
      </li>
    </ol>    
  </nav>
  
  <div class="container mt-12">

<!-- ----------------------------Inicio de Paso a Paso-------------------------------------------- -->

<mat-vertical-stepper>
  <mat-step
    [label]="titulo1"
    [completed]="isStep1Completed"
    [ngClass]="{ collapse: isCollapsed1 }"
  >
    <ng-container contenido-paso-1>
      <div class="card-body" [ngClass]="{ collapse: isCollapsed2 }">                      
        <form [formGroup]="formfiltro">

        <div class="row justify-content-center">
          <div class="col-10 cardFiltrado cardAnimate cardFlat">
            <div class="row">
              <div class="col-md-2">
                <div class="col-md-12 image-container">
                  <span>
                    <img style="width: 100%; height: 100%" src="../../../assets/icons8-user-64_1.png" class="image" alt="..." />
                    <div class="texto">
                      <h4 style="text-align: center; color: #63ddff; font-size: 18px;">Filtrar Alarma</h4>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-md-9">

                <div class="row">
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Alarma">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Número de Alarma</mat-label>
                        <input formControlName="nroAlarma" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 1" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                  
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Central">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Código de Central</mat-label>
                        <input formControlName="nroCentral" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 2" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                  
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Medición">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Número de Medición</mat-label>
                        <input formControlName="nroMed" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 40" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por nombre de Servicio">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Nombre de Servicio</mat-label>
                        <input formControlName="nombreServ" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. Temperatura" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                  
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por descripción Mensaje">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Descripción Mensaje</mat-label>
                        <input formControlName="nombreMensaje" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. Valor SUPERIOR" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                  
                  <div class="col-md-4 margenFiltros">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por valor de Medición">
                      <label class="search-field">
                        <mat-label class="search-field label ng-tns-c97-48 ng-star-inserted">Valor de Medición</mat-label>
                        <input formControlName="valorMed" type="text" class="form-control inputBusqueda .input-con-color-de-fondo" placeholder="Ej. 35" (keyup)="esFiltrar($event)" />
                        <i class="fas fa-search FormatoIconos" style="padding-left: 20px"></i>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-4 margenFiltrosSlite">
                    <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Filtrar por Fecha">
                      <mat-slide-toggle id="op1" (change)="filtroFecha($event)">Filtrar por Fecha</mat-slide-toggle>
                    </div>
                  </div>
                  
                  <div class="col-md-4 margenFiltrosFecha">
                    <mat-form-field [formGroup]="formfiltro">
                      <mat-label>Ingrese Rango de Fecha</mat-label>
                      <div class="input-container">
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate formControlName="fecha_desde" placeholder="Desde">
                          <input matEndDate formControlName="fecha_hasta" placeholder="Hasta">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      </div>
                      <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  
                  <div class="col-md-4 margenFiltros">
                      <div class="row margenFiltrosBtn">
                        <div
                          class="example-button-row"
                          style="display: flex; justify-content: flex-end"
                        >
                          <button
                            mat-fab
                            extended
                            color="primary"
                            class="btnAplicarFiltro"
                            (click)="filtarXFechas()" 
                            [disabled]="!habilitarBoton"
                            >
                            <mat-icon>touch_app</mat-icon>
                            Aplicar Filtro
                          </button>
                        </div>
                      </div>                      
                  </div>

                </div>

              </div>            
            </div>
          </div>
        </div>      
      </form>
      <br />
      <br />

      </div>

      <div class="row">
        <div class="col-12 cardFiltrado cardAnimate cardFlat">
          <table class="table" *ngIf="validarFiltradoAlarma() == true">
            <thead class="encabezado">
              <tr>
                <th
                  (click)="ordenarPor('almId')"
                  [appSort]="AlarmaConsultaFiltrados"
                  data-order="asc"
                  data-name="almId"
                  style="text-align: center"
                >
                  <a
                    >Alarma Nro. {{ ordenarIcono("almId") }}</a
                  >
                </th>
                <th
                  (click)="ordenarPor('almIdMedicion')"
                  [appSort]="AlarmaConsultaFiltrados"
                  data-order="desc"
                  data-name="almIdMedicion"
                  style="text-align: center"
                >
                  <a>Med. Nro. {{ ordenarIcono("almIdMedicion") }}</a>
                </th>
                <th
                  (click)="ordenarPor('cenNro')"
                  [appSort]="AlarmaConsultaFiltrados"
                  data-order="desc"
                  data-name="cenNro"
                  style="text-align: center"
                >
                  <a>Central Nro. {{ ordenarIcono("cenNro") }}</a>
                </th>
                <th
                  (click)="ordenarPor('serDescripcion')"
                  [appSort]="AlarmaConsultaFiltrados"
                  data-order="desc"
                  data-name="serDescripcion"
                  style="text-align: center"
                >
                  <a>Servicio {{ ordenarIcono("serDescripcion") }}</a>
                </th>
                <th
                  (click)="ordenarPor('almMensaje')"
                  [appSort]="AlarmaConsultaFiltrados"
                  data-order="desc"
                  data-name="almMensaje"
                  style="text-align: center"
                >
                  <a>Mensaje {{ ordenarIcono("almMensaje") }}</a>
                </th>
                <th
                  (click)="ordenarPor('medValor')"
                  [appSort]="AlarmaConsultaFiltrados"
                  data-order="desc"
                  data-name="medValor"
                  style="text-align: center"
                >
                  <a>Valor Medición {{ ordenarIcono("medValor") }}</a>
                </th>
                <th
                  (click)="ordenarPor('almFechaHoraBD')"
                  [appSort]="AlarmaConsultaFiltrados"
                  data-order="desc"
                  data-name="almFechaHoraBD"
                  style="text-align: center"
                >
                  <a>Fecha Medición {{ ordenarIcono("almFechaHoraBD") }}</a>
                </th>         
                <th></th>
                <th scope="col" style="text-align: center">
                  Nueva Alarma
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-row"
                *ngFor="
                  let alarma of AlarmaConsultaFiltrados
                    | paginate
                      : {
                          itemsPerPage: pageSize,
                          currentPage: currentPage,
                          totalItems: totalItems
                        };
                  let i = index
                "
                [ngClass]="{
                  'fila-par': i % 2 == 0,
                  'fila-impar': i % 2 == 1
                }"
                (click)="esfilaSeleccionadaAlarma(alarma)"
              >
                <th style="vertical-align: middle align-center">
                  {{ alarma.almId }}
                </th>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ alarma.almIdMedicion }}
                </td>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ alarma.cenNro }}
                </td>
                <td style="vertical-align: middle" class="textIzquierda">
                  {{ alarma.serDescripcion }}
                </td>
                <td style="vertical-align: middle" class="textIzquierda">
                  {{ alarma.almMensaje }}
                </td>
                <td style="vertical-align: middle" class="textDerecha">
                  {{ alarma.medValor }}
                </td>
                <td style="vertical-align: middle" class="textIzquierda">
                  {{ alarma.almFechaHoraBD | date: 'dd-MM-yyyy' }}
                </td>
                <td class="empty-column"></td>
                <td style="vertical-align: middle" class="textIzquierda">
                  <span *ngIf="alarma.almVisto === false">Nueva</span>
                  <span *ngIf="alarma.almVisto === true">Visto</span>
                </td>          
              </tr>
            </tbody>
          </table>
          <div
            class="align-center"
            *ngIf="validarFiltradoAlarma() == true"
          >
            <pagination-controls
              (pageChange)="paginaCambiada($event)"
              itemsPerPage="pageSize"
              totalItems="totalItems"
            ></pagination-controls>
          </div>
        </div>
        <div
          class="alert alert-primary text-center"
          role="alert"
          *ngIf="validarFiltradoAlarma() == false"
        >
          No se encontraron alarma que coincidan con su búsqueda.
        </div>
      </div>

      <br>
      <br>

    </ng-container>
  </mat-step>
</mat-vertical-stepper>      
