<app-navbar></app-navbar>
<div class="body">
  <h1 class="text-center">Consultar Servicio</h1>
  <br />

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 search-container">
      <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por Nombre del Servicio">
        <span class="input-group-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </span>
        <input type="text" class="form-control" placeholder="Nombre del Servicio a Buscar" (keyup)="esFiltrar($event)">
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table" *ngIf="validarFiltrado() == true">
        <thead class="encabezado">
          <tr>
            <!-- <th scope="col">Cod.</th> 
                  <th scope="col">Nombre de Servicio</th>
                  <th scope="col">Unidad de Medida</th>
            -->
              <th (click)="ordenarPor('serId')" [appSort]="ServiciosFiltrados" data-order="desc"
                  data-name="serId" style="text-align: center;"><a>Cod {{ordenarIcono('serId')}}</a></th>
              <th (click)="ordenarPor('serDescripcion')" [appSort]="ServiciosFiltrados" data-order="desc"
                  data-name="serDescripcion" style="text-align: center;"><a>Nombre de Servicio {{ordenarIcono('serDescripcion')}}</a></th>
              <th (click)="ordenarPor('serUnidad')" [appSort]="ServiciosFiltrados" data-order="desc"
                  data-name="serUnidad" style="text-align: center;"><a>Unidad de Medida {{ordenarIcono('serUnidad')}}</a></th>             
              
              <th scope="col" style="text-align: center;">Desactivar</th>
              <th scope="col" style="text-align: center;">Ver Más</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
            let servicio of ServiciosFiltrados
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: currentPage,
                    totalItems: totalItems
                  };
            let i = index
          "
            [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}"
              (click)="esfilaSeleccionada(servicio)">
              <th style="vertical-align: middle" class="align-center">{{ servicio.serId }}</th>
              <td style="vertical-align: middle">{{ servicio.serDescripcion }}</td>
              <td style="vertical-align: middle">{{ servicio.serUnidad }}</td>
              <td class="align-center">
                <button type="button" class="btn"data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" (click)="abrirModal('Eliminar Servicio')" title="Eliminar Servicio">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>
              </td>
              <td class="align-center">
                <button type="button" class="btn"data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" (click)="abrirModal('Ver Mas')" title="Ver Más Opciones">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="align-center">
        <pagination-controls
          (pageChange)="paginaCambiada($event)"
          itemsPerPage="pageSize"
          totalItems="totalItems"
        ></pagination-controls>
      </div>
    </div>
    <div
      class="alert alert-primary text-center"
      role="alert"
      *ngIf="validarFiltrado() == false"
    >
      ¡No se ha encontrado ningún servicio!
    </div>

    <div class="row">
      <div class="modal-footer text-center col-3">
        <button
          type="submit"
          id="btnAgregar"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          (click)="abrirModal('Agregar Servicio')"
        >
          Agregar Servicio
        </button>
      </div>
    </div>
  </div>
</div>
<app-modal titulo="{{ titulo }}">
  <!-- Seccion de Modificación de Servicio -->
  <div *ngIf="titulo == 'Ver Mas'">
    <form [formGroup]="formModificar" class="row g-3">
      <fieldset id="fieldset">
        <div class="col-md-12">
          <div class="form-outline input-group mb-3">
            <span class="input-group-text">Cod.</span>
            <input
              type="text"
              class="form-control"
              id="id"
              value="id"
              formControlName="id"
            />
          </div>
        </div>

            <div class="col-md-12">
                <div class="form-outline input-group mb-3">
                    <span class="input-group-text">Nombre de Servicio</span>
                    <input type="text" class="form-control" id="descripcion" value="descripcion"
                        formControlName="descripcion" required />
                    <span class="input-group-text" title="{{caracteresValidosNombreServicio}}"><svg
                          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-question-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path
                              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                        </svg>
                    </span>
                </div>
                <div *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)" class="text-danger">
                  <div *ngIf="descripcion?.errors?.['required']">
                      La descripción es requerida.
                  </div>
                  <div *ngIf="descripcion?.errors?.['pattern']">
                    La primera letra debe ser mayúscula y no debe contener caracteres especiales. Además, debe tener más de 3 caracteres y menos de 30 caracteres. </div>
                </div>
            </div>

            <div class="col-md-12">
              <div class="form-outline input-group mb-3">
                  <span class="input-group-text">Unidad de Medida</span>
                  <input type="text" class="form-control" id="unidad" value="unidad"
                      formControlName="unidad" />
                  <span class="input-group-text" title="{{caracteresValidosUnidad}}"><svg
                          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-question-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path
                              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                      </svg>
                  </span>
              </div> 
              <div *ngIf="unidad?.invalid && (unidad?.dirty || unidad?.touched)" class="text-danger">
                <div *ngIf="unidad?.errors?.['required']">
                    La unidad es requerida.
                </div>
                <div *ngIf="unidad?.errors?.['pattern']">
                    No debe contener caracteres especiales ni tener más de 12 caracteres.
                </div>
              </div>          
            </div>

            <div class="col-md-12 ">
              <div class="form-outline input-group mb-3">
                <span class="input-group-text">Tipo Grafico</span> 
                <select name="tipoGrafico" id="tipoGrafico" value="tipoGrafico" formControlName="tipoGrafico" style="width: 320px;">
                  <option value="1">Humedad de Suelo</option>
                  <option value="2">Humedad del Ambiente</option>
                  <option value="3">Temperatura</option>
                  <option value="4">Velocidad del Viento</option>
                  <option value="5">Dirección del Viento</option>
                </select>           
              </div>
            </div>
        </fieldset>
    </form>
    <div class="row">
      <div class="modal-footer text-center col-3">
          <button [disabled]="!mostrarBtnEditarModificacion" type="submit" id="btnEditar" class="btn btn-success" (click)="desbloquearEditar()">Editar</button>
      </div>
      <div class="modal-footer text-center col-3">
          <button [disabled]="!mostrarBtnAceptarModificacion" id="btnAceptarModificacion" type="submit" class="btn btn-success" (click)="modificarServicio()">Aceptar</button>
      </div>
      <div class="modal-footer text-center col-3">
        <button
          style="background-color: #0e3c53"
          id="CancelarModificacion"
          type="button"
          class="btn text-white"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
      <div
        *ngIf="
          validarControlesMod() == '2' && mostrarBtnAceptarModificacion == true
        "
        class="text-danger"
      >
        Verifique los campos ingresados
      </div>
    </div>
  </div>

  <!-- Seccion de Baja de servicio -->
  <div *ngIf="titulo == 'Eliminar Servicio'">
    <h5>Está seguro que desea dar de baja al Servicio:</h5>
    <br />
    <div class="form-outline input-group mb-3">
      <span class="input-group-text">Cod. </span>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="idSeleccionado"
        readonly
      />
    </div>
    <div class="form-outline input-group mb-3">
      <span class="input-group-text">Nombre del Servicio </span>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="despcionSeleccionado"
        readonly
      />
    </div>
    <div class="form-outline input-group mb-3">
      <span class="input-group-text">Unidad de Medida </span>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="unidadSeleccionada"
        readonly
      />
    </div>

    <div class="row">
      <div class="modal-footer text-center col-3">
        <button
          type="submit"
          class="btn btn-success"
          data-bs-toggle="button"
          data-bs-dismiss="modal"
          (click)="desactivarServicio()"
        >
          Confirmar
        </button>
      </div>
      <div class="modal-footer text-center col-8">
        <button
          style="background-color: #0e3c53"
          id="Cancelar"
          type="button"
          class="btn text-white"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>

  <!-- Seccion de Agregar un Servicio -->
  <div *ngIf="titulo == 'Agregar Servicio'">
    <form [formGroup]="formAgregar" class="row g-3">
      <fieldset id="fieldset">
        <div class="col-md-12">
            <div class="form-outline input-group mb-3">
                <span class="input-group-text">Nombre de Servicio</span>
                <input type="text" class="form-control" id="descripcionA"
                    formControlName="descripcionA" placeholder="Ingrese una descripción"/>
                <span class="input-group-text" title="{{caracteresValidosNombreServicio}}"><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-question-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                          d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                </span>
            </div>
            <div *ngIf="descripcionA?.invalid && (descripcionA?.dirty || descripcionA?.touched)" class="text-danger">
              <div *ngIf="descripcionA?.errors?.['required']">
                  La descripción es requerida.
              </div>
              <div *ngIf="descripcionA?.errors?.['pattern']">
                La primera letra debe ser mayúscula y no debe contener caracteres especiales. Además, debe tener más de 3 caracteres y menos de 30 caracteres. </div>
            </div>
        </div>
            <div class="col-md-12">
              <div class="form-outline input-group mb-3">
                  <span class="input-group-text">Unidad de Medida</span>
                  <input type="text" class="form-control" id="unidadA"
                      formControlName="unidadA" placeholder="Ingrese una unidad"/>
                  <span class="input-group-text" title="{{caracteresValidosUnidad}}"><svg
                          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-question-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path
                              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                      </svg>
                  </span>
              </div> 
              <div *ngIf="unidadA?.invalid && (unidadA?.dirty || unidadA?.touched)" class="text-danger">
                <div *ngIf="unidadA?.errors?.['required']">
                    La unidad es requerida.
                </div>
                <div *ngIf="unidadA?.errors?.['pattern']">
                  No debe contener caracteres especiales ni tener más de 12 caracteres.
                </div>
              </div>             
            </div>
            <div class="col-md-12 ">
              <div class="form-outline input-group mb-3">
                <span class="input-group-text">Tipo Grafico</span> 
                <select name="tipoGraficoA" id="tipoGraficoA" value="tipoGraficoA" formControlName="tipoGraficoA" style="width: 320px;">
                  <option value="1">Humedad de Suelo</option>
                  <option value="2">Humedad del Ambiente</option>
                  <option value="3">Temperatura</option>
                  <option value="4">Velocidad del Viento</option>
                  <option value="5">Dirección del Viento</option>
                </select>           
              </div>
            </div> 
            
        </fieldset>
    </form>
    <div class="row">
      <div class="modal-footer text-center col-3">
        <button
          type="submit"
          id="Validar"
          class="btn btn-success"
          (click)="agregarServicio()"
        >
          Agregar
        </button>
      </div>
      <div class="modal-footer text-center col-8">
        <button
          style="background-color: #0e3c53"
          id="Cancelar"
          type="button"
          class="btn text-white"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
      <div *ngIf="validarControlesAgregar() == '2'" class="text-danger">
        Verifique los campos ingresados
      </div>
    </div>
  </div>
</app-modal>
<app-footer-interno></app-footer-interno>
