<app-navbar></app-navbar>

<div class="body">
  <h1 class="text-center titulo tituloFuente">Consulta de Servicios</h1>
  <!-- Contenido de breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="padding-left: 310px; font-size: 18px">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Consulta de Servicios
      </li>
    </ol>
  </nav>
  <div class="container mt-12">
    <!-- ----------------------------Inicio de Paso a Paso-------------------------------------------- -->
    <mat-vertical-stepper>
      <mat-step
        [label]="titulo1"
        [completed]="isStep1Completed"
        [ngClass]="{ collapse: isCollapsed1 }"
      >
        <ng-container contenido-paso-1>
          <div class="card-body" [ngClass]="{ collapse: isCollapsed2 }">

            <div class="row containerCard">
            
              <div class="col-12 cardFiltrado cardAnimate cardFlat cardSeparacion">
                <div>
                  <div class="row">
                    <div class="col-md-3 image-container">
                      <span
                        ><img
                          style="width: 102%; height: 102"
                          src="../../../assets/filtrar_servicio.png"
                          class="image"
                          alt="..."
                        />
                        <div class="texto">
                          <h4
                            style="
                              text-align: center;
                              color: #63ddff;
                              font-size: 18px;
                            "
                          >
                            Filtrar Servicio
                          </h4>
                        </div></span
                      >
                    </div>                    
                    
                    <div
                      class="col-md-1 vertical-line"
                      style="width: 20px"
                    ></div>
                    <div class="col-md-2 margenFiltros">
                      <div
                        class="form-outline input-group"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Buscar por Nombre de Servicio"
                      >
                        <label class="search-field">
                          <mat-label
                            class="search-field label ng-tns-c97-48 ng-star-inserted"
                            >Nombre del Servicio</mat-label
                          >
                          <input
                            type="text"
                            class="form-control inputBusqueda .input-con-color-de-fondo"
                            placeholder="Ej. Temperatura"
                            (keyup)="esFiltrar($event)"
                          />                             
                          <i
                            class="fas fa-search FormatoIconos"
                            style="padding-left: 20px"
                          ></i>
                        </label>
                      </div>                          
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col-12 cardFiltrado cardAnimate cardFlat cardSeparacion">
                <div class="h-100 d-flex align-items-center justify-content-center">
                  <div
                    class="example-button-row"
                    style="display: flex; justify-content: flex-end"
                  >
                    <button
                      mat-fab
                      extended
                      color="primary"
                      class="btnAgregar"
                      routerLink="/registrar-servicio"
                    >
                      <mat-icon>touch_app</mat-icon>
                      Registrar Servicio
                    </button>
                  </div>
                </div>
              </div>         
                           

            </div>
            <br />
            <br />

            <div class="row">
              <div class="col-12 cardFiltrado cardAnimate cardFlat">
                <!-- app.component.html -->
                <div class="table" *ngIf="dataSourceServicio">
                    <table mat-table [dataSource]="dataSourceServicio" matSort #matSortServicio="matSort">
  
                    <!-- Columnas -->
                    <ng-container matColumnDef="serId">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serId">Código</th>
                      <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.serId }}</td>
                    </ng-container>
  
                    <ng-container matColumnDef="serDescripcion">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Servicio</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
                    </ng-container>
  
                    <ng-container matColumnDef="serUnidad">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serUnidad">Unidad</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serUnidad }}</td>
                    </ng-container>                  

                    <!-- Columna vacia -->
                    <ng-container matColumnDef="columnaVacia">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef></th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element"></td>
                    </ng-container>
            
                    <!-- Columna de acciones -->
                    <ng-container matColumnDef="desactivar">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Desactivar</th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                        <button
                          type="button"                          
                          class="btn" 
                          data-bs-target="#staticBackdrop"    
                          mat-button                      
                          (click)="desactivarServicio(element)"
                          title="Eliminar Servicio"
                        >
                          <img
                          src="../../../assets/no check.png"
                            class="iconosBoton"
                            alt="..."
                          />
                        </button>  
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="verMas">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Modificar Servicio</th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                        <button
                          type="button"
                          class="btn"
                          data-bs-target="#staticBackdrop"  
                          mat-button
                          (click)="seleccionarServicio(element)"
                          title="Modificar Servicio"
                        >
                          <img
                            src="../../../assets/ver_mas.png"
                            class="iconosBoton"
                            alt="..."
                          />
                        </button>       
                      </td>
                    </ng-container>
                    <!-- Filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsServicio"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsServicio;
                      let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
                    </tr>
                    
                  </table>
            
                  <!-- Paginador -->
                  <mat-paginator *ngIf="dataSourceServicio"
                    [length]="dataSourceServicio.data.length"
                    [pageSize]="pageSizeServicio"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="handlePageChangeServicio($event)"
                    showFirstLastButtons
                    #paginatorServicio 
                  ></mat-paginator>
            
                  <div class="align-center" *ngIf="validarFiltrado() == true">
                  </div>
            
                  <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltrado() == false">
                    No se encontrado servicio que coincidan con su búsqueda.
                  </div>
            
                </div>
              </div>          
            </div>
                        
      
          </div>
        </ng-container>
      </mat-step>

      <mat-step
      [label]="titulo2"
      [completed]="isStep2Completed"
      [ngClass]="{ collapse: isCollapsed2 }"
      >
      <ng-container contenido-paso-2>
        <!-- Botón ver otro servicio -->
        <div class="row ">
          <div
            class="example-button-row"
            style="display: flex; justify-content: flex-end"
          >
            <button
              mat-fab
              extended
              color="primary"
              class="btnAgregar"
              (click)="goToPreviousStep()"
            >
              <mat-icon>touch_app</mat-icon>
              Nueva Consulta
            </button>
          </div>
        </div>

        <br>
        <br>
        
        <div class="card cardFiltrado cardAnimate cardFlat">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0 tituloCard">Modificar Servicio</h4>
              <img
                src="../../../assets/registrar_servicio.png"
                class="image"
                style="width: 5%; height: 5%; padding-right: 5px"
                alt="..."
              />
            </div>
          </div>
          
          <br/>

          <form [formGroup]="formModificar">
            <div class="container">
              <div class="row">
                <div class="col-sm-9" style="justify-content: right">
                  <div class="row justify-content-center">
                    <div class="col-50 col-sm-50">
                      <div class="row">
                        <div class="col-md-6">

                          <div class="form-outline input-group mb-3">
                            <mat-form-field
                              appearance="fill"
                              class="example-full-width form-outline input-group"
                            >
                              <mat-label>Código del Servicio</mat-label>
                              <input
                                type="text"
                                style="padding-left: 20px"
                                matInput
                                id="id"
                                value="id"
                                formControlName="id"
                                required
                                readonly
                              />
                              <mat-icon class="edit" matSuffix
                                >edit_off</mat-icon
                              >
                            </mat-form-field>
                            
                          </div>
                          
                          <div class="form-outline input-group mb-3">
                            <mat-form-field
                              appearance="fill"
                              class="example-full-width form-outline input-group"
                            >
                              <mat-label>Nombre del Servicio</mat-label>
                              <input
                                type="text"
                                style="padding-left: 20px"
                                matInput
                                id="descripcion"
                                value="descripcion"
                                formControlName="descripcion"
                                required
                              />
                              <mat-icon class="edit" matSuffix
                                >edit</mat-icon
                              >
                            </mat-form-field>
                            <mat-error
                              *ngIf="
                              descripcion?.invalid &&
                                (descripcion?.dirty ||
                                descripcion?.touched)
                              "
                              class="text-danger"
                            >
                              <mat-error
                                class="error"
                                *ngIf="descripcion?.errors?.['required']"
                              >
                                La descripción es requerida.
                              </mat-error>
                              <mat-error
                                class="error"
                                *ngIf="descripcion?.errors?.['pattern']"
                              >
                                La primera letra debe ser en mayúscula y no debe contener caracteres especiales. 
                                Además, debe tener más de 3 caracteres y menos de 30 caracteres. 
                              </mat-error>
                            </mat-error>
                          </div>

                          <div class="form-outline input-group mb-3">
                            <mat-form-field
                              appearance="fill"
                              class="example-full-width form-outline input-group"
                            >
                              <mat-label>Unidad de Medida</mat-label>
                              <input
                                type="text"
                                style="padding-left: 20px"
                                matInput
                                id="unidad"
                                value="unidad"
                                formControlName="unidad"
                                required
                              />
                              <mat-icon class="edit" matSuffix
                                >edit</mat-icon
                              >
                            </mat-form-field>
                            <mat-error
                              *ngIf="
                              unidad?.invalid &&
                                (unidad?.dirty ||
                                unidad?.touched)
                              "
                              class="text-danger"
                            >
                              <mat-error
                                class="error"
                                *ngIf="unidad?.errors?.['required']"
                              >
                                La unidad es requerida.
                              </mat-error>
                              <mat-error
                                class="error"
                                *ngIf="unidad?.errors?.['pattern']"
                              >
                                No debe contener número ni caracteres especiales. 
                                Además, debe tener menos de 12 caracteres.                              
                              </mat-error>
                            </mat-error>
                          </div>

                          <div class="form-outline input-group mb-3">
                            <mat-form-field                            
                              style="width: 525px"
                              >
                              <mat-label>Seleccione un Tipo Grafico</mat-label>
                              <mat-select 
                                style="padding-left: 30px"                              
                                placeholder="Seleccionar Tipo Grafico" 
                                required
                                id="tipoGrafico"
                                formControlName="tipoGrafico"
                                >
                                <mat-option *ngFor="let opcion of opcionesTipoGrafico" [value]="opcion.codigo">
                                  {{ opcion.descripcion }}
                                </mat-option>

                              </mat-select>
                            </mat-form-field>  
                            <mat-error
                            *ngIf="
                            tipoGrafico?.invalid &&
                              (tipoGrafico?.dirty ||
                              tipoGrafico?.touched)
                            "
                            class="text-danger"
                          >
                            <mat-error
                              class="error"
                              *ngIf="tipoGrafico?.errors?.['required']"
                            >
                              Debe seleccionar un tipo grafico.
                            </mat-error>
                          </mat-error>                          
                          </div>

                          <br>
                          <div
                            class="col-12 text-center"
                            style="display: flex; justify-content: center"
                          >
                            <div class="modal-footer example-button-row">
                              <button
                                mat-fab
                                extended
                                color="primary"
                                type="submit"
                                id="btnModificar"
                                class="btn btnModificar"
                                data-bs-target="#staticBackdrop"
                                (click)="modificarServicio()"
                              >
                                Modificar Servicio
                              </button>
                            </div>
                          </div> 

                        </div>
                      </div>
                  

                    </div>
                  </div>
                </div>

                <!-------------------- Ir a Consultar Servicio: .col-sm-4 ---------------------------------->
                <div
                class="col-sm-3"
                style="display: flex; justify-content: left"
              >
                <div class="col-md-2 image-container">
                  <span
                    ><img
                      style="
                        width: 100%;
                        height: 100%;
                        margin-bottom: 100px;
                      "
                      src="../../../assets/cold.png"
                      class="image"
                      alt="..."
                    />
                  
                  <!-- Botón Consultar Servicio -->
                  <div class="row">
                    <div
                      class="example-button-row"
                      style="display: flex; justify-content: flex-end"
                    >
                      <button
                        mat-fab
                        extended
                        color="primary"
                        class="btnAgregar"
                        routerLink="/registrar-servicio"
                        >
                        <mat-icon>touch_app</mat-icon>
                        Registrar un Nuevo Servicio
                      </button>
                    </div>
                  </div>
                  </span>
                </div>
              </div>


              </div>
            </div>
          </form>

        </div>

        <br>
        <br>
      
      </ng-container>
    </mat-step>

    </mat-vertical-stepper>
  </div>  
  <br />
</div>

<app-footer-interno></app-footer-interno>



