/* -------Botón Guardar------- */
.btnGuardar{
  width: 237px !important;
  height: 59px !important;
  border-radius: 4px !important;
  background-color: rgba(0, 63, 138, 1) !important;
  color: #fff;
  border-color: #194c87 !important;
}
.btnGuardar:hover{/*efecto a pasar por arriba*/
  color: #fff;
  background-color: #01C3CC !important;
  border-color:#194c87 !important;
  box-shadow: 0 0 10px rgba(var(--bs-btn-focus-shadow-rgb), 0.5); /*sombra*/
}
.btnGuardar:active{/*efecto al presionar*/
  color:  #fff;
  background-color: #194c873f !important;
  border-color: #194c8754 !important;
  box-shadow: var(--bs-btn-active-shadow);
}
.btnGuardar:disabled{
  color: #632626 !important;
  background-color: #194c8781 !important;
  border-color: #194c87 !important;
}

.custom-offset {
  transform: translateX(5px); /* Ajusta el valor según sea necesario */
}