<div class="offcanvas offcanvas-md offcanvas-start navbarNuestra" tabindex="-10" id="navbarToggleExternalContent">
    <div class="accordion" id="accordionExample">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menú CeMSA</h3>
            </div>
            <ul class="list-unstyled components">
              
                <li>
                    <a href="consultar-cliente" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Clientes</b></a>
                    <ul class="collapse list-unstyled" id="central">
                        <li>
                            <a href="alta-cliente">Registrar</a>
                        </li>
                        <li>
                            <a href="consultar-cliente">Consultar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="consultar-central" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Consultar Central</b></a>
                    <ul class="collapse list-unstyled" id="modificar">
                        <li>
                            <a href="alta-central">Registrar</a>
                        </li>
                        <li>
                            <a href="modificar-central">Modificar</a>

                        </li>
                        <li>
                            <a href="consultar-central">Consultar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="modificar-central" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Modificar Central</b></a>
                </li>
                <li>
                    <a href="consultar-servicio" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b> Consultar Servicios</b></a>
                    <ul class="collapse list-unstyled" id="servicios">
                        <li>
                            <a href="alta-servicio">Registrar</a>
                        </li>
                        <li>
                            <a href="consultar-servicio">Consultar</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="cerrarSesion" (click)=" cerrarSesion()">
                        <h5>Cerrar Sesion</h5>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
