.abs-center {
  display: flex;
  align-items: top;
  justify-content: center;
  min-height: 90vh;
  padding: 15%;
}
/* .bodyF {
  background-image:url("../../../assets/fondoIngreso.jpg"); 
  background-position: left left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
  
} */
.form_main::before {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  background-color: #02bfcc45;
  transform: rotate(45deg);
  left: 380px;
  bottom: 90px;
  z-index: -5;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}
/* -------video----------- */
.video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el valor alpha para ajustar la opacidad */
  z-index: 1;
}

/* .video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 115%;
    object-fit: cover;
    z-index: -1;
}
.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
} */
/* position: fixed;
    top: 233px;
    left: 0px;
    width: 103%;
    height: 115%;
    object-fit: contain;
    z-index: -1;
} */
img {
  width: 275px;
}
@media (max-width: 767px) {
  .container {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
  
  /* Ajusta el tamaño de las imágenes en dispositivos móviles */
  img {
    width: 100%;
    max-width: 300px; /* Cambia el valor según tus necesidades */
  }
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
.card {
  background-color: hsla(180, 14%, 75%, 0.605) !important;
}
/* @media (min-width: 768px) and (max-width: 1023px) {
  .cardContenedora{
    width: 70%;
    height: 70%;
  }
} */

/* --------Inicio de Sesión------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);



.login-wrapper{
    margin:80px auto;
    width:325px;
}

form h1{
    color:#1d0350;
    font-size:2.8em;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: Roboto;
}

form h1 span{
    font-weight: 500;
    letter-spacing: -1px;
    
}

form input{
    border:none;
    margin:0;
}

form .input-row{
    margin:2em 0;
    overflow:hidden;
}

form .icon{
    font-size:1.4em;
    background:#FFFFFF;
    padding:0.8em;
    border-left:4px solid #02c0cc;
    color:#02c0cc;
    float:left;
}

form input[type="text"],form input[type="password"] {
    padding:0.63em 0.8em 0.8em 0;
    font-size:1.4em;
    color:#c2c2c2;
    width:324px;
}

form input[type="text"]:focus,form input[type="password"]:focus {
    outline:0;
}

form input[type="submit"]{
    border:none;
    background: #32b8cd;
    color:#FFFFFF;
    font-size:1.6em;
    padding:0.7em 1.2em;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

form input[type="submit"]:hover {
    /* background:#c62a65; */
    opacity: 0.8;
    background: #32b8cd;
  background: linear-gradient(
    49deg,
    #32b8cde3 0%,
    #38184c 100%)
}

form .reset{
    margin-left:1em;
    color:#003F8A;
    font-size: 1.1em;
}

form .reset a{
    color:#003F8A
    ;
}

form .reset a:hover{
    text-decoration: none;
}

/* ----------Animación de Card------------------ */
.card-animation {
  animation: slide-in 0.8s ease-in-out forwards;
  position: relative; /* Asegura que la tarjeta esté posicionada correctamente */
  z-index: 1; /* Mayor z-index para que la tarjeta esté por encima del video sombreado */
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* ----------Efecto Transparente-------------------- */
@keyframes colorChange {
  0% {
    background: linear-gradient(49deg, #32b8cd8e 0%, #38184c9e 100%);
  }
  50% {
    background: #32b8cde3;
  }
  100% {
    background: linear-gradient(49deg, #32b8cde3 0%, #38184c 100%);
  }
}


/* Estilos para la animación */
.color-transition-container {
  animation: colorChange 5s ease-in-out;
  animation-fill-mode: forwards;
}
/* ---------------Label-------------- */
.estiloInput{
  padding-left: 75px;
  padding-right: 75px;
}
 /* ---------------BotónBack--------------*/
 .imagenBack{
  width: 150px; 
  height: 150px; 
  margin-top: 440px;
  margin-left: 175px; 
  z-index: 3 ; 
  position: relative;
 }
 /* --------LOGO IMAGEN----- */
 .logoImg{
  width: 450px; z-index: -3; margin-bottom: -148px;
  margin-top: -67px;
 }
 /* -------LOGO SIGLA------- */
 .logoSigla{
  width: 350px; z-index: -2; margin-bottom: -57px;
 }
 .altoTarjeta{
 height: 762px;
 }
 .espacio{
  margin-left: 6%;
 }
/* -------Responsive--------------------- */
/* @media (max-width: 767px) {
  .cardContenedora {
    width: 90%; 
    height: 50%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    text-align: center;
  }
  
} */
/* Estilos para tabletas en modo paisaje y pantallas más grandes */
/* @media (min-width: 768px) and (max-width: 1023px) {
  .cardContenedora {
    width: 100%; 
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .card-body {
    text-align: center;
    height: 50%;
  }
} */

/* Estilos para pantallas de escritorio */
/* @media (max-width: 1024px) {
  .cardContenedora {
    width: 30%; 
    height: 150%;
  }
  
  img {
    max-width: 100%;
    height: 50%;
  }
  
  .card-body {
    text-align: center;
    height: 100%;
  }
} */