<section class="h-100 gradient-form bodyF">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../../assets/LOGO CEMSA V2.0.png" 
                    style="width: 300px;" alt="logo">
                    <br>
                    <br>
                    <br>
                  <h4 class="mt-1 mb-5 pb-1">Bienvenido!</h4>
                </div>
                <p class="text-center">Por favor, ingrese a su cuenta</p>
                
                <form [formGroup]="formInicio" class="row">
                          
                  <!-- Campo Usuario -->
                  <div class="form-outline mb-4">
                      <div class="form-outline input-group mb-3">
                          <span class="input-group-text">Usuario</span>
                          <input type="text" id="usuario" class="form-control" value="Usuario" formControlName="usuario"  placeholder="Nombre de Usuario"
                              required />   
                                                              
                      </div>

                      <!-- Validaciones Usuario -->
                      <div *ngIf="usuario?.invalid && (usuario?.dirty || usuario?.touched)"
                          class="text-danger">
                          <div *ngIf="usuario?.errors?.['required']">
                              El usuario es requerido.
                          </div>
                      </div>
                  </div>

                  <!-- Campo Contraseña -->
                  <div class="form-outline mb-4">
                      <div class="form-outline input-group mb-3">
                          <span class="input-group-text">Contraseña</span>
                          <input type="password" class="form-control" value="Password" placeholder="**********"
                              formControlName="password" required />
                      </div>                    

                      <!-- Validaciones Contraseña -->
                      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                          class="text-danger">
                          <div *ngIf="password?.errors?.['required']">
                              La contraseña es requerida.
                          </div>
                      </div>
                  </div>
                  

                  <!-- Validaciones de Campos -->
                  <div *ngIf="esInicioValido == 2" class="text-danger">
                      <p>Usuario y/o contraseña incorrectos</p>
                  </div>

                  <li style="list-style: none;"><a href="olvido-password">¿Olvidaste tu Constraseña?</a></li>
                  
                  <br>
                  <br>

                  <!-- Validaciones Boton Ingresar -->
                  <div class="col-8"></div>
                  <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" style="background-color: #0e3c53; height: 50px;" type="button"
                          (click)="login()" [routerLink]="[redireccionar()]" *ngIf="validarIngresar(usuario?.value, password?.value) == true">Ingresar 
                      </button>
                      <br>
                  </div>
                </form>
             
              </div>
            </div>
            
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                  La mejor solución <br />
                  <span style="color: hsl(87, 81%, 75%)">para tu negocio</span>
                </h1>
                
                <p class="small mb-0">Siempre a la vanguardia, implementando soluciones tecnológicas al Sector Agropecuario.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
                        

                            <!-- Validaciones Boton Ingresar -->
                            <!-- <div class="col-8"></div>
                            <div class="col-4">
                                <button class="btn text-white" style="background-color: #0e3c53;" type="button"
                                    (click)="login()" [routerLink]="[redireccionar()]" *ngIf="validarIngresar(usuario?.value, password?.value) == true">Ingresar 
                                </button>
                            </div> -->
                        
<app-footer></app-footer>