<div class="offcanvas offcanvas-md offcanvas-start navbarNuestra" tabindex="-10" id="navbarToggleExternalContentCliente">
    <div class="accordion" id="accordionExample">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menú CeMSA CLIENTE</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a class="d-flex justify-content-between align-items-center text-decoration-none"
                        href="home" ><b>Home</b></a>
                </li>
                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#central-collapse" aria-expanded="false" class="dropdown-toggle d-flex justify-content-between align-items-center text-decoration-none">
                        <b>Mis Centrales</b></a>
                    <ul class="collapse list-unstyled" id="central-collapse">
                        <li><a href="consultar-central-cliente">Consultar</a></li>                                            
                    </ul>                    
                </li>
                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#alarmas-collapse" aria-expanded="false" class="dropdown-toggle d-flex justify-content-between align-items-center text-decoration-none">
                        <b>Mis Alarmas</b></a>
                    <ul class="collapse list-unstyled" id="alarmas-collapse">
                        <li><a href="consultar-medicion">Consultar</a></li>
                        <li><a href="consultar-medicion">Consultar</a></li>                      
                    </ul>                    
                </li>
                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#tableros-collapse" aria-expanded="false" class="dropdown-toggle d-flex justify-content-between align-items-center text-decoration-none">
                        <b>Mis Tableros</b></a>
                    <ul class="collapse list-unstyled" id="tableros-collapse">
                        <li><a href="consultar-medicion">Consultar</a></li>
                        <li><a href="consultar-medicion">Consultar</a></li>                      
                    </ul>                    
                </li>
                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#fumigacion-collapse" aria-expanded="false" class="dropdown-toggle d-flex justify-content-between align-items-center text-decoration-none">
                      <b>Fumigaciones</b></a>
                    <ul class="collapse list-unstyled" id="fumigacion-collapse">   
                        <li><a href="registrar-cliente">Registrar</a></li>                 
                        <li><a href="consultar-fumigaciones">Consultar</a></li>                      
                    </ul>
                </li>                  
                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#reportes-collapse" aria-expanded="false" class="dropdown-toggle d-flex justify-content-between align-items-center text-decoration-none">
                      <b>Mis Reportes</b></a>
                    <ul class="collapse list-unstyled" id="reportes-collapse">   
                        <li><a href="registrar-cliente">Reportes</a></li>                 
                        <li><a href="consultar-fumigaciones">Estadisticas</a></li>                      
                    </ul>
                </li>   
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="cerrarSesion" (click)=" cerrarSesion()">
                        <h5>Cerrar Sesión</h5>
                    </a>
                </li>
            </ul>
        </nav>
</div>
