<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="VzLXTJGPSyTLX6d96AxgkKvE/LRb7ECGyTxuwtpjHnVWVZs2gp5RDjeM/tgBnVdM"
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="9+9VLV50ZIoYm6ndV2JzOw1i6jKzJ5uuIbRvL9afckY="
    crossorigin=""
  ></script>
  <script src="ruta/a/tu/archivo.js"></script>
</head>

<h1 class="text-center">Modificar Central Meteorológica</h1>
<br />
<div class="row">  
  <div class="col-4"></div>
  <div class="col-6">
    <h3>Cliente de la Central:</h3>
    <br />
    <div class="row">
    <form [formGroup]="formModificar">
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">Cliente </span>
          <input
            type="text"
            class="form-control"
            id="cliApeNomDenVM"
            value="cliApeNomDenVM"
            formControlName="cliApeNomDenVM"
            required            
            readonly
          /> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">Usuario </span>
          <input
            type="text"
            class="form-control"
            id="usuarioVM"
            value="usuarioVM"
            formControlName="usuarioVM"
            required            
            readonly
          />
        </div>
      </div>
  
    <h3>Datos de la Central:</h3>
    <br />
    <div class="row">
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">Cod. Central </span>
          <input
            type="text"
            class="form-control"
            id="id"
            value="id"
            formControlName="id"
            required
            readonly
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">IMEI </span>
          <input
            type="text"
            class="form-control"
            id="imei"
            value="imei"
            formControlName="imei"
            required            
          />
          <span class="input-group-text" title="{{ numerosValidos }}"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-question-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
              />
            </svg>
          </span>
        </div>
        <div
          *ngIf="imei?.invalid && (imei?.dirty || imei?.touched)"
          class="text-danger"
        >
          <div *ngIf="imei?.errors?.['required']">El IMEI es requerido.</div>
          <div *ngIf="imei?.errors?.['pattern']">Debe ingresar solamente 15 números.</div>
        </div>
      </div>
    </div>

    <div class="form-outline input-group mb-3">
      <span class="input-group-text">Estado </span>
      <input
        type="text"
        class="form-control"
        id="estadoCentralDescripcion"
        value="estadoCentralDescripcion"
        formControlName="estadoCentralDescripcion"
        required
        readonly
      />
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">Fecha de Alta </span>
          <input
            type="text"
            class="form-control"
            id="fechaAlta"
            value="fechaAlta"
            formControlName="fechaAlta"
            required
            readonly
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">Fecha de Baja </span>
          <input
            type="text"
            class="form-control"
            id="fechaBaja"
            value="fechaBaja"
            formControlName="fechaBaja"
            required            
            readonly
          />
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">Coordenadas X </span>
          <input
            type="text"
            class="form-control"
            id="coordenadaX"
            value="coordenadaX"
            formControlName="coordenadaX"
            required            
            readonly
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline input-group mb-3">
          <span class="input-group-text">Coordenadas Y </span>
          <input
            type="text"
            class="form-control"
            id="coordenadaY"
            value="coordenadaY"
            formControlName="coordenadaY"
            required            
            readonly
          />
        </div>
      </div>
   
      <br />
      <div id="map" style="height: 400px"></div>
      <!--width: 400px;-->
      <br />
      <h3>Servicios:</h3>
      <br />
      <br />
      <div class="row">
        <div class="col-md-6">
          <h4> Lista de Servicios </h4>
          <table class="table" *ngIf="validarFiltradoServicios() == true">
            <thead class="encabezado">
                <tr>              
                  <!--
                  <th scope="col">Cod.</th> 
                  <th scope="col">Nombre de Servicio</th> -->
                  <th (click)="ordenarServicioPor('serId')" [appSort]="Servicios" data-order="desc"
                  data-name="serId" style="text-align: center;"><a>Cod. {{ordenarIconoServicio('serId')}}</a></th>            
                  <th (click)="ordenarServicioPor('serDescripcion')" [appSort]="Servicios" data-order="desc"
                  data-name="serDescripcion" style="text-align: center;"><a>Nombre de Servicio {{ordenarIconoServicio('serDescripcion')}}</a></th>                        
                  <th scope="col">Agregar Serv.</th> 
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of Servicios let i=index"
              [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}"
              (click)="esfilaSeleccionadaServicio(servicio)">
              <th style="vertical-align: middle" class="align-center">{{ servicio.serId }}</th>
              <td style="vertical-align: middle">{{ servicio.serDescripcion }}</td>
              <td class="align-center">
                <button type="button" class="btn"
                data-bs-target="#staticBackdrop" (click)="agregarServicio(servicio)" title="Agregar Servicio">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                  </svg>
                </button>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServicios() == false">
            No hay Servicios disposable
          </div>
        </div>
        <div class="col-md-6">
          <h4> Lista de Servicios Activos</h4>
          <table class="table" *ngIf="validarFiltradoServiciosDeCentral() == true">
            <thead class="encabezado">
                <tr>              
                  <!--
                  <th scope="col">Cod.</th> 
                  <th scope="col">Nombre de Servicio</th> -->
                  <th (click)="ordenarServicioCentralPor('serId')" [appSort]="ServiciosDeCentralActualizado" data-order="desc"
                  data-name="serId" style="text-align: center;"><a>Cod. {{ordenarIconoServicioCentral('serId')}}</a></th>            
                  <th (click)="ordenarServicioCentralPor('serDescripcion')" [appSort]="ServiciosDeCentralActualizado" data-order="desc"
                  data-name="serDescripcion" style="text-align: center;"><a>Nombre de Servicio {{ordenarIconoServicioCentral('serDescripcion')}}</a></th>                        
                  <th scope="col">Extraer Serv.</th> 
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of ServiciosDeCentralActualizado let i=index"
              [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}"
              (click)="esfilaSeleccionadaServicioDeCentral(servicio)">
              <th style="vertical-align: middle" class="align-center">{{ servicio.serId }}</th>
              <td style="vertical-align: middle">{{ servicio.serDescripcion }}</td>
              <td class="align-center">
                <button type="button" class="btn"
                data-bs-target="#staticBackdrop" (click)="extraerServicio(servicio)" title="Extrar Servicio">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-node-minus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM8 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 8 8z"/>
                  </svg>
                </button>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServiciosDeCentral() == false">
            No tiene Servicios Activos la Central
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-md-6">          
          <button            
            id="btnAceptarModificacion"
            type="submit"
            class="btn btn-success"
            data-bs-toggle="button"                        
            (click)="modificarCentral()"
          >
            Modificar Central
          </button>
        </div>
        <div class="col-md-6">          
          <button            
          id="btnVolver"
          type="submit"
          class="btn btn-success"
          data-bs-toggle="button"                        
          routerLink="/consultar-central"
        >
          Volver
        </button>
        </div>      
      </div>
    </div>
  </form>
  </div>
</div>  


