<app-navbar-externo></app-navbar-externo>
<section class="h-100 gradient-form bodyF">
    <div class="video-container">
    <video autoplay muted loop id="video-background">
      <source src="../../../assets/video2.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="../../../assets/LOGOHOJA.svg" 
                    class="logoImg" alt="logo">
                </div>
                <div class="text-center">
                  <img src="../../../assets/LOGOSIGLA.svg" 
                    class="logoSigla" alt="logo">
                </div>
                <div class="text-center">
                  <h1 class="mt-1 mb-5 pb-1 text-center">Restablecer Contraseña</h1>
                </div>
                <p class="text-center">Por favor, ingrese los siguientes datos</p>
                
                
                <form [formGroup]="formOlividoPassword" class="row">

                  <!-- Campo Usuario -->
                  <div class="form-outline  estiloInput">
                    <div class="input-row form-outlineinput-group mb-3">
                      <span class="icon"><i class="fa fa-user"></i></span>
                      <input type="text" id="usuario" value="Usuario" formControlName="usuario" placeholder="Usuario" required />
                  </div>
                        <!-- <div class="form-outline input-group mb-3">
                            <span class="input-group-text">Usuario</span>
                            <input type="text" id="usuario" class="form-control" value="Usuario" formControlName="usuario"  placeholder="Nombre de Usuario"
                                required />                                
                        </div> -->
                        <!-- Validaciones Usuario -->
                        <div *ngIf="usuario?.invalid && (usuario?.dirty || usuario?.touched)"
                        class="text-danger">
                        <div *ngIf="usuario?.errors?.['required']">El Usuario es requerido.</div>
                        <div *ngIf="usuario?.errors?.['pattern']">El Nombre del Usuario no admiten caracteres especiales.</div>
                        <div *ngIf="usuario?.errors?.['minlength']">El Nombre del Usuario debe tener al menos 3 caracteres.</div>
                        <div *ngIf="usuario?.errors?.['maxlength']">El Nombre del Usuario debe tener menos de 50 caracteres.</div>
                    </div>
                    </div>

                  <!-- Campo Usuario -->
                    <!-- <div class="form-outline mb-4">
                        <div class="form-outline input-group mb-3">
                            <span class="input-group-text">Usuario</span>
                            <input type="text" id="usuario" class="form-control" value="Usuario" formControlName="usuario"  placeholder="Nombre de Usuario"
                                required />                                                                   
                        </div> -->

                        

                        <!-- Validaciones Usuario -->
                        <!-- <div *ngIf="usuario?.invalid && (usuario?.dirty || usuario?.touched)"
                            class="text-danger">
                            <div *ngIf="usuario?.errors?.['required']">El Usuario es requerido.</div>
                            <div *ngIf="usuario?.errors?.['pattern']">El Nombre del Usuario no admiten caracteres especiales.</div>
                            <div *ngIf="usuario?.errors?.['minlength']">El Nombre del Usuario debe tener al menos 3 caracteres.</div>
                            <div *ngIf="usuario?.errors?.['maxlength']">El Nombre del Usuario debe tener menos de 50 caracteres.</div>
                        </div>
                    </div> -->


                    <!-- Campo Mail -->
                    <div class="form-outline  estiloInput">
                        <div class="input-row form-outlineinput-group mb-3">
                            <span class="icon"><i class="fa fa-at"></i></span>
                            <input type="text" id="email" value="email" formControlName="email"  placeholder="Email"
                                required />                                                                   
                        </div>
                        <!-- Validaciones email -->
                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                            class="text-danger">
                            <div *ngIf="email?.errors?.['required']">El correo electrónico es requerido.</div>
                            <div *ngIf="email?.errors?.['email']">El correo electrónico es inválido.</div>
                            <div *ngIf="email?.errors?.['maxlength']">El mail del debe tener menos de 30 caracteres.</div>
                        </div>
                    </div>

                    <!-- <li style="list-style: none; z-index: 3" class="reset"><a href="/ingresar-usuario">Iniciar Sesión</a></li> -->


                    <!-- Validaciones Boton Aceptar -->
                    <div class="col-8"></div>
                    <div class="text-center pt-1 mb-5 pb-1 estiloInput">
                        <button class=" botonAceptar" type="button"
                            (click)="enviarMail()" [disabled]="validarIngresar(usuario?.value, email?.value) == false">Aceptar 
                        </button>
                        <br>
                        <br>
                        <span class="reset"><a href="ingresar-usuario">Iniciar Sesión</a></span>
                    </div>

                   

                </form>

                </div>
            </div>
            
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                  La mejor solución <br />
                  <span style="color: hsl(87, 81%, 75%)">para tu negocio</span>
                </h1>
                
                <p class="small mb-0">Siempre a la vanguardia, implementando soluciones tecnológicas al Sector Agropecuario.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>