<nav class="navbar navbar-expand-custom navbar-mainbg" style="height: 15px;">
    <!-- <a href="landing-page">
        <img src="../../../assets/back3.png" style="width: 50px; height: 50px; margin-top: 120px;margin-left: 50px;" alt="logo">
    </a> -->
    
   
    <!-- <a [r  outerLink]="/landing-page">
        <img src="../../../assets/back3.png" style="width: 50px; height: 50px; margin-top: 120px; margin-left: 50px;" alt="logo">
      </a> -->
   
    <!-- <header>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      </header>
      <div class="frame">
       <button class="custom-btn btn-8"><span>Reade More</span></button>
       <button class="custom-btn btn-12"><span>Click!</span><span>Read More</span></button>
      </div> -->
      
</nav>
