<nav class="navbar navbar-expand-lg fondoNavBar" >
    
<!-------------------- LOGO de CeMSA ------------------->
    <div class="container-fluid">
        <div class="row justify-content-end">
          <!-- <div class="row">
            <div class="col-12">
              <img _ngcontent-goa-c48="" 
                src="../../../assets/LOGOhojaconSombra.png" 
                alt="" width="70" height="70"  style="z-index: -1; margin-left: 51px;margin-top: 35px;">  
            </div>
          </div> -->
          <div class="row">
            <div class="col-12">
              <img _ngcontent-goa-c48="" 
                src="../../../assets/LOGOSIGLA.svg" 
                alt="" width="500px" height="500px" style="z-index: -2;margin-top: 0px;width: 285px;height: 285px;"> 
            </div>
          </div>
            <div class="col-12">
              <!-- <a class="navbar-brand" (click)="redirigir()">   
                <img _ngcontent-goa-c48="" 
                src="../../../assets/LOGOHOJA.svg" 
                alt="" width="95" height="95" >   
                <img _ngcontent-goa-c48="" 
                src="../../../assets/LOGOSIGLA.svg" 
                alt="" width="250" height="250" >  
              </a> -->
             
              <!-- <a class="navbar-brand" (click)="redirigir()">
                <img _ngcontent-goa-c48="" 
                src="../../../assets/LOGOhojaconSombra.png" 
                alt="" width="95" height="95" >  
                <img _ngcontent-goa-c48="" 
                src="../../../assets/LOGOsiglasconSombre.png" 
                alt="" width="250" height="250" >  
              </a> -->
               
            </div>
            
          </div>
          <!-- class="bi pe-none" -->
          <!-- <div class="circle"></div>
          <div class="rounded-square2"></div>
          <div class="rounded-square"></div> -->
          
        <!-- <div class="position-absolute top-1 start-0">
            <div class="d-flex">
                <div class="col-3">
                    <button class="navbar-brand" type="button" data-bs-toggle="offcanvas" *ngIf="token != null" (click)="home()" title="Home">
                        <svg class="bi pe-none" width="40" height="40" role="img" aria-label="Home">
                          <use xlink:href="#home"/></svg>
                      </button>
                </div>
                
            </div>
            <h3 style="color: white; ">Home</h3>
        </div> -->
        <div class="position-absolute top-1 end-50">
            <div class="d-flex">
                <div class="col-3">
                    <!-- <button 
                        class="navbar-brand" type="button" data-bs-toggle="offcanvas" 
                        aria-expanded="false" aria-label="Toggle navigation" *ngIf="token != null && rol != 1" 
                        (click)="openConsultarAlarma()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                          </svg>
                        <span *ngIf="cantAlarma !== 1">{{ cantAlarma }}</span>
                    </button>                       -->
                    <!-- <div class="dropdown-container">
		            <div class="notifications dropdown dd-trigger" ng-click="openConsultarAlarma()">
		             
                      <i
                                class="fas fa-search FormatoIconos"
                                style="padding-left: 20px"
                              ></i>
                      <img src="../../../assets/notification-bell.gif" style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px;" alt="" width="40" height="40">
                      <span class="count animated" id="notifications-count">{{cantAlarma}}</span>
                    </div>
		           
		          </div> -->
                  <!-- aprietos -->
                  <br>
                  <!-- <div class="demo-section">
                    <button mat-raised-button color="primary"
                    *ngIf="cantAlarma !== 1" [matBadge]="cantAlarma" matBadgePosition="before" matBadgeColor="accent"(click)="openConsultarAlarma()">
                      Notifificación
                    </button>
                  </div> -->
                  
                  <!-- Fin -->
                    <!-- <button 
                        class="navbar-brand" type="button" data-bs-toggle="offcanvas" 
                        aria-expanded="false" aria-label="Toggle navigation" *ngIf="token != null && rol != 1" 
                        (click)="openConsultarAlarma()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                          </svg>
                        <span *ngIf="cantAlarma !== 0">{{ cantAlarma }}</span>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end" style="width: 500px; width: 473px;">
          <!-- <mat-icon style="color: #fff; height: 100%; width: 100%;">account_circle</mat-icon> -->
          <div class="col-3" style="margin-top: 15px;">
            <div class="demo-section" style="margin-left: 50px;">
             
              <mat-icon
                *ngIf="cantAlarma !== -1"
                [matBadge]="cantAlarma"
                matBadgeColor="warn"
                (click)="openConsultarAlarma()"
                class="mat-badge mat-badge-overlap mat-badge-above mat-badge-small mat-badge-glow notification-icon bell-swing">
                notifications
              </mat-icon>
            </div>
          </div>
          <div class="nameUser">Hola {{ nombreUsuarioIngresado }}!</div>
          <img _ngcontent-goa-c48="" 
          src="../../../assets/user5.png" 
          alt="" style="height: 65px; width: 65px;" > 
        </div>
    </div>
</nav>
<!-- <app-menu-admin></app-menu-admin> -->
<!-- 
<app-menu-cliente></app-menu-cliente>
<app-menu-usuario></app-menu-usuario> -->

<span *ngIf="token != null && rol != 1" >
    <app-sidebar-cliente></app-sidebar-cliente>
</span>
<span *ngIf="token != null && rol != 0" >
    <app-sidebar></app-sidebar>
</span>


