<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="VzLXTJGPSyTLX6d96AxgkKvE/LRb7ECGyTxuwtpjHnVWVZs2gp5RDjeM/tgBnVdM"
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="9+9VLV50ZIoYm6ndV2JzOw1i6jKzJ5uuIbRvL9afckY="
    crossorigin=""
  ></script>
  <script src="ruta/a/tu/archivo.js"></script>
</head>

<div class="body">
  <h1 class="text-center titulo tituloFuente">Consultar Central Meteorológica</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="padding-left: 310px; font-size: 18px">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Consultar Central Meteorológica
      </li>
    </ol>
  </nav>
  <br />
  <div class="container mt-12">
  <!-- --------------------------Inicio de Paso a Paso-------------------------------------------- -->
    <mat-vertical-stepper>
      <mat-step
        [label]="titulo1"
        [completed]="isStep1Completed"
        [ngClass]="{ collapse: isCollapsed1 }"
      >
        <ng-container contenido-paso-1>
          <div class="card-body" [ngClass]="{ collapse: isCollapsed2 }">
            <form [formGroup]="formfiltro">
              <div class="row justify-content-center">
                <div class="col-10 cardFiltrado cardAnimate cardFlat">
                  <div>
                    <div class="row">
                      <div class="col-md-3 image-container">
                        <span
                          ><img
                            style="width: 102%; height: 102"
                            src="../../../assets/filtrar_central.png"
                            class="image"
                            alt="..."
                          />
                          <div class="texto">
                            <h4
                              style="
                                text-align: center;
                                color: #63ddff;
                                font-size: 18px;
                              "
                            >
                              Filtrar Central
                            </h4>
                          </div></span
                        >
                      </div>                       

                      <div class="col-md-9">
                        <div class="row">

                          <div class="col-md-4 margenFiltros">
                            <div
                              class="form-outline input-group"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Buscar por Código de Central"
                            >
                              <label class="search-field ">
                                <mat-label
                                  class="search-field label ng-tns-c97-48 ng-star-inserted"
                                  >Código de Central</mat-label
                                >
                                <input formControlName="idCentral"
                                  type="text"
                                  class="form-control inputBusqueda .input-con-color-de-fondo" style="
                                  width: 200px; padding-right: 40px;"
                                  placeholder="Ej. 23"
                                  (keyup)="esFiltrar($event)"
                                />                          
                                <i
                                  class="fas fa-search FormatoIconos"
                                  style="padding-left: 145px"
                                ></i>
                              </label>
                            </div>                          
                          </div>                    
          
                          <div class="col-md-4 margenFiltros">
                            <div
                              class="form-outline input-group"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Buscar por Nombre de Cliente"
                            >
                              <label class="search-field ">
                                <mat-label
                                  class="search-field label ng-tns-c97-48 ng-star-inserted"
                                  >Nombre de Cliente</mat-label
                                >
                                <input formControlName="cliente"
                                  type="text"
                                  class="form-control inputBusqueda .input-con-color-de-fondo" style="
                                  width: 200px; padding-right: 40px;"
                                  placeholder="Ej. Felipe"
                                  (keyup)="esFiltrar($event)"
                                />                          
                                <i
                                  class="fas fa-search FormatoIconos"
                                  style="padding-left: 145px"
                                ></i>
                              </label>
                            </div>                          
                          </div>

                          <div class="col-md-4 margenFiltros">
                            <div
                              class="form-outline input-group"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Buscar por Nombre del Usuario"
                            >
                              <label class="search-field">
                                <mat-label
                                  class="search-field label ng-tns-c97-48 ng-star-inserted"
                                  >Nombre del Usuario</mat-label
                                >
                                <input formControlName="usuario"
                                  type="text"
                                  class="form-control inputBusqueda .input-con-color-de-fondo" style="
                                  width: 200px; padding-right: 40px;"
                                  placeholder="Ej. Usuario1"
                                  (keyup)="esFiltrar($event)"
                                />                             
                                <i
                                  class="fas fa-search FormatoIconos"
                                  style="padding-left: 145px"
                                ></i>
                              </label>
                            </div>                          
                          </div> 

                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </form>
              <br />
              <br />
      
              <div class="row">
                <div class="col-12 cardFiltrado cardAnimate cardFlat">
                  <!-- app.component.html -->
                  <div class="table" *ngIf="dataSourceCentral">
                    <table mat-table [dataSource]="dataSourceCentral" matSort #matSortCentral="matSort">
      
                    <!-- Columnas -->
                    <ng-container matColumnDef="cenNro">                                                            
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Central</th>
                      <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.cenNro }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="cliApeNomDen">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.cliApeNomDen }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="usuario">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.usuario }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="estDescripcion">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.estDescripcion }}</td>
                    </ng-container>
                      
                    <!-- Columna vacia -->
                    <ng-container matColumnDef="columnaVacia">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef></th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element"></td>
                    </ng-container>
                    
                    <!-- Columna de acciones -->
                    <ng-container matColumnDef="modEstado">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Modificar Estado</th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                        <div class="d-flex justify-content-center"> <!-- Contenedor para centrar los botones horizontalmente -->
                          <button *ngIf="element.cenIdEstadoCentral != 1" mat-button (click)="ModificarEstadoCentral(1, 'Disponible')" type="button" class="btn" data-bs-target="#staticBackdrop" title="Cambiar Estado Central a Disponible">
                            <img src="../../../assets/disponible.png" class="iconosBoton" alt="..." />
                          </button>
                          <button *ngIf="element.cenIdEstadoCentral != 2" mat-button (click)="ModificarEstadoCentral(2, 'Bloqueada')" type="button" class="btn" data-bs-target="#staticBackdrop" title="Cambiar Estado Central a Bloqueada">
                            <img src="../../../assets/bloqueada2.png" class="iconosBoton" alt="..." />
                          </button>
                          <button *ngIf="element.cenIdEstadoCentral != 3" mat-button (click)="ModificarEstadoCentral(3, 'Error')" type="button" class="btn" data-bs-target="#staticBackdrop" title="Cambiar Estado Central a Error">
                            <img src="../../../assets/error2.png" class="iconosBoton" alt="..." />
                          </button>
                          <button *ngIf="element.cenIdEstadoCentral != 4" mat-button (click)="ModificarEstadoCentral(4, 'Baja')" type="button" class="btn" data-bs-target="#staticBackdrop" title="Cambiar Estado Central a Baja">
                            <img src="../../../assets/deshabilitada.png" class="iconosBoton " alt="..." />
                          </button>
                        </div>
                      </td>
                    </ng-container>
                    

                    <ng-container matColumnDef="verMas">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Ver Más</th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                        <button
                          mat-button
                          (click)="esfilaSeleccionada(element);"
                          type="button"
                          class="btn"
                          data-bs-target="#staticBackdrop"
                          title="Ver Más Opciones"
                        >
                          <img
                            src="../../../assets/ver_mas.png"
                            class="iconosBoton"
                            alt="..."
                          />
                        </button>
                      </td>
                    </ng-container>

                    <!-- Filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCentral"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCentral; 
                      let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
                    </tr>      
                  </table>
            
                  <!-- Paginador -->
                  <mat-paginator *ngIf="dataSourceCentral"
                    [length]="dataSourceCentral.data.length"
                    [pageSize]="pageSizeCentral"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="handlePageChangeCentral($event)"
                    showFirstLastButtons
                    #paginatorCentral
                  ></mat-paginator>
            
                  <div class="align-center" *ngIf="validarFiltrado() == true">
                  </div>
            
                  <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltrado() == false">
                    No se encontraron centrales que coincidan con su búsqueda.
                  </div>
      
                  </div>
                </div>
              </div>    
    
          </div>
        </ng-container>
      </mat-step>
      
      <mat-step
      [label]="titulo2"
      [completed]="isStep2Completed"
      [ngClass]="{ collapse: isCollapsed2 }"
      >
      <ng-container contenido-paso-2> 
        <!-- Botón ver otra central -->
        <div class="row">
          <div
            class="example-button-row"
            style="display: flex; justify-content: flex-end"
          >
            <button
              mat-fab
              extended
              color="primary"
              class="btonNuevaConsulta"
              (click)="goToPreviousStep()"
            >
              <mat-icon>touch_app</mat-icon>
              Nueva Consulta
            </button>
          </div>
        </div>

        <br>
        <br>

        <form [formGroup]="formModificar">

          <div class="card cardFiltrado cardAnimate cardFlat">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0 tituloCard">Datos de la Central N°: {{cenNroSeleccionado}} </h4>
                <img
                  src="../../../assets/central_seleccionada.png"
                  class="image"
                  style="width: 5%; height: 5%; padding-right: 5px"
                  alt="..."
                />
              </div>
            </div>

            <br>
            <br>
          
            <div class="row">          
              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Cliente</mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="cliApeNomDenVM"
                      value="cliApeNomDenVM"
                      formControlName="cliApeNomDenVM"
                      required
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>                        
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Usuario</mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="usuarioVM"
                      value="usuarioVM"
                      formControlName="usuarioVM"
                      required
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>
                </div>
              </div>    

              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Cod. Central</mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="id"
                      value="id"
                      formControlName="id"
                      required
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>                        
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Estado</mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="estadoCentralDescripcion"
                      value="estadoCentralDescripcion"
                      formControlName="estadoCentralDescripcion"
                      required
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>                        
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Fecha de Alta </mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="fechaAlta"
                      value="fechaAlta"
                      formControlName="fechaAlta"                    
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>                        
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Fecha de Baja</mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="fechaBaja"
                      value="fechaBaja"
                      formControlName="fechaBaja"                      
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>
                </div>
              </div> 

              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex flex-column align-items-center">
                  <mat-form-field appearance="fill" class="example-full-width form-outline input-group">
                    <mat-label>IMEI</mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="imei"
                      value="imei"
                      formControlName="imei"
                      required
                    />
                    <mat-icon class="edit" matSuffix>edit</mat-icon>
                  </mat-form-field>
                  <mat-error
                    *ngIf="imei?.invalid && (imei?.dirty || imei?.touched)"
                    class="text-danger"
                  >
                    <mat-error class="error" *ngIf="imei?.errors?.['required']">
                      El IMEI es requerido.
                    </mat-error>
                    <mat-error class="error" *ngIf="imei?.errors?.['pattern']">
                      Debe ingresar solamente 15 números.
                    </mat-error>
                  </mat-error>
                </div>
              </div>
              <div class="col-md-6">                
              
              </div>



            </div>
          </div>

          <br>
          <br>

          <div class="card cardFiltrado cardAnimate cardFlat">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0 tituloCard">Ubicación de la Central N°: {{cenNroSeleccionado}} </h4>
                <img
                  src="../../../assets/location.png"
                  class="image"
                  style="width: 5%; height: 5%; padding-right: 5px"
                  alt="..."
                />
              </div>
            </div>

            <br>
            <br>
          
            <div class="row">          
              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Coordenadas X </mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="coordenadaX"
                      value="coordenadaX"
                      formControlName="coordenadaX"
                      required
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>                        
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width form-outline input-group"
                  >
                    <mat-label>Coordenadas Y</mat-label>
                    <input
                      type="text"
                      style="padding-left: 20px"
                      matInput
                      id="coordenadaY"
                      value="coordenadaY"
                      formControlName="coordenadaY"
                      required
                      readonly
                    />
                    <mat-icon class="edit" matSuffix
                      >edit_off</mat-icon
                    >
                  </mat-form-field>
                </div>
              </div>  
            </div>

            <br />
            <div id="map" style="height: 400px"></div>      
          </div>

          <br>
          <br>

          <div class="card cardFiltrado cardAnimate cardFlat">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0 tituloCard">Lista de Servicios de la Central N° {{cenNroSeleccionado}} </h4>
                <img
                  src="../../../assets/cold.png"
                  class="image"
                  style="width: 5%; height: 5%; padding-right: 5px"
                  alt="..."
                />
              </div>
            </div>
  
            <br>
            <br>

            <div class="row">          
              <div class="col-md-6">
                <h2 class="align-center"> Servicios Disponibles </h2>
                <div class="table" *ngIf="dataSourceServicio">
                    <table mat-table [dataSource]="dataSourceServicio" matSort #matSortServicio="matSort">
  
                    <!-- Columnas -->
                    <ng-container matColumnDef="serId">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serId">Cod.</th>
                      <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.serId }}</td>
                    </ng-container>
  
                    <ng-container matColumnDef="serDescripcion">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Nombre de Servicio</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
                    </ng-container>                 
            
                    <ng-container matColumnDef="agregarServ">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Agregar Serv.</th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                        <button type="button" class="btn"
                          data-bs-target="#staticBackdrop" (click)="agregarServicio(element)" title="Agregar Servicio">                        
                          <img
                          style="width: 50%; height: 50%"
                          src="../../../assets/agregar.png"
                          class="image"
                          alt="..."
                          />     
                        </button>

                      </td>
                    </ng-container>

                    <!-- Filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsServicio"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsServicio;
                      let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
                    </tr>
                    
                  </table>
            
                  <!-- Paginador -->
                  <mat-paginator *ngIf="dataSourceServicio"
                    [length]="dataSourceServicio.data.length"
                    [pageSize]="pageSizeServicio"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="handlePageChangeServicio($event)"
                    showFirstLastButtons
                    #paginatorServicio 
                  ></mat-paginator>
            
                  <div class="align-center" *ngIf="validarFiltradoServicios() == true">
                  </div>
            
                  <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServicios() == false">
                    No hay Servicios disposable
                  </div>
            
                </div>
              </div>  
              
              <div class="col-md-6">
                <h2 class="align-center"> Servicios Activos </h2>
                <div class="table" *ngIf="dataSourceServicioActivos">
                  <table mat-table [dataSource]="dataSourceServicioActivos" matSort #matSortServicioActivos="matSort">

                  <!-- Columnas -->
                  <ng-container matColumnDef="serId">
                    <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serId">Cod.</th>
                    <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.serId }}</td>
                  </ng-container>

                  <ng-container matColumnDef="serDescripcion">
                    <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Nombre de Servicio</th>
                    <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
                  </ng-container>                 
          
                  <ng-container matColumnDef="extraerServ">
                    <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Extrar Serv.</th>
                    <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                      <button type="button" class="btn"
                        data-bs-target="#staticBackdrop" (click)="extraerServicio(element)" title="Extrar Servicio">                        
                        <img
                        style="width: 50%; height: 50%"
                        src="../../../assets/minus.png"
                        class="image"
                        alt="..."
                        />     
                      </button>

                    </td>
                  </ng-container>

                  <!-- Filas -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsServicioActivos"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsServicioActivos;
                    let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
                  </tr>
                  
                </table>
          
                <!-- Paginador -->
                <mat-paginator *ngIf="dataSourceServicioActivos"
                  [length]="dataSourceServicioActivos.data.length"
                  [pageSize]="pageSizeServicioActivos"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="handlePageChangeServicioActivos($event)"
                  showFirstLastButtons
                  #paginatorServicioActivos 
                ></mat-paginator>
          
                <div class="align-center" *ngIf="validarFiltradoServiciosDeCentral() == true">
                </div>
          
                <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServiciosDeCentral() == false">
                  No tiene Servicios Activos la Central
                </div>
          
              </div>
              </div>
            </div>
            

            <br>             
            <div class="col-12 text-center">
              <button
                mat-fab
                extended
                color="primary"
                type="submit"
                id="btnAgregar"
                class="btn btnConfirmar"
                data-bs-target="#staticBackdrop"
                [disabled]="cenNroSeleccionado === 0"
                (click)="modificarCentral()"
              >
              Modificar Central
              </button>
            </div>
    
            <br>

            <br>
          </div>

        </form>

      </ng-container>
    </mat-step>

    
     
        
    </mat-vertical-stepper>

</div>

