<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="VzLXTJGPSyTLX6d96AxgkKvE/LRb7ECGyTxuwtpjHnVWVZs2gp5RDjeM/tgBnVdM"
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="9+9VLV50ZIoYm6ndV2JzOw1i6jKzJ5uuIbRvL9afckY="
    crossorigin=""
  ></script>
  <script src="ruta/a/tu/archivo.js"></script>
</head>

<div class="body" style="padding-left: 75px; margin-top: 70px;">
  <h1 class="text-center titulo tituloFuente">Registrar Central Meteorológica</h1>
  <!-- Contenido de breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="padding-left: 160px; font-size: 18px">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Registrar Central Meteorológica
      </li>
    </ol>
  </nav>

  <div class="container mt-12">
    <!-- ----------------------------Inicio de Paso a Paso-------------------------------------------- -->
    <mat-vertical-stepper>
      <mat-step
        [label]="titulo1"
        [completed]="isStep1Completed"
        [ngClass]="{ collapse: isCollapsed1 }"
      >
        <ng-container contenido-paso-1>
          <div class="card-body" [ngClass]="{ collapse: isCollapsed2 }">
            <div class="row justify-content-center">
              <div class="col-10 cardFiltrado cardAnimate cardFlat">
                <div>

                  <form [formGroup]="formfiltro">

                    <div class="row">
                      <div class="col-md-2 image-container">
                        <span
                          ><img
                            style="width: 102%; height: 102"
                            src="../../../assets/icons8-user-64_1.png"
                            class="image"
                            alt="..."
                          />
                          <div class="texto">
                            <h4
                              style="
                                text-align: center;
                                color: #63ddff;
                                font-size: 18px;
                              "
                            >
                              Filtrar Cliente
                            </h4>
                            <!---->
                          </div></span
                        >
                      </div>
                      <div
                        class="col-md-2"
                        style="margin-top: 48px; padding-left: 40px"
                      >
                        <div
                          class="form-outline input-group"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Buscar por Tipo de Documento"
                        >
                          <mat-form-field
                            class="FormatoCombos;"
                            style="width: 156px"
                            appearance="outline"
                          >
                            <mat-label>Tipo Documento</mat-label>
                            <mat-select
                              style="text-align: center; border-color: #63ddff"
                              placeholder="Seleccionar"
                              formControlName="tipoF" 
                              (selectionChange)="esFiltrar()"
                            >
                              <mat-option
                                *ngFor="let tipoDocumento of tiposDocumento"
                                [value]="tipoDocumento.tdId"
                                >{{ tipoDocumento.tdDescripcion }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                        <div class="col-md-2 margen" style="padding-left: 0px">
                          <div
                            class="form-outline input-group"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Buscar por Numero de Documento"
                          >
                            <label class="search-field2 label">
                              <mat-label class="search-field label"
                                >N° de Documento</mat-label
                              >
                              <input
                                type="text"
                                style="width: 164px"
                                class="form-control inputBusqueda2"
                                placeholder="12.345.678"     
                                formControlName="numeroF" 
                                (input)="formatDocumentNumber($event)"
                                (keyup)="esFiltrar()"
                              />
                              
                              <i
                                class="fas fa-search FormatoIconos"
                                style="padding-left: 20px"
                              ></i>
                            </label>
                          </div>
                        </div>

                        <div
                          class="col-md-1 vertical-line"
                          style="width: 20px"
                        ></div>

                        <div class="col-md-2 margenFiltros">
                          <div
                            class="form-outline input-group"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Buscar por Nombre de Cliente"
                          >
                            <label class="search-field">
                              <mat-label
                                class="search-field label ng-tns-c97-48 ng-star-inserted"
                                >Nombre de Cliente</mat-label
                              >
                              <input
                                type="text"
                                class="form-control inputBusqueda .input-con-color-de-fondo"
                                placeholder="Ej. Felipe"
                                formControlName="clienteF" 
                                (keyup)="esFiltrar()"
                              />
                                  
                              <i class="fa-solid fa-person FormatoIconos"></i>
                            </label>
                          </div>
                        </div>

                        <div class="col-md-3 margenFiltros vertical-line">
                          <div
                            class="form-outline input-group"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Buscar por Nombre de Usuario"
                          >
                          <label class="search-field">
                              <mat-label
                                class="search-field label ng-tns-c97-48 ng-star-inserted"
                                >Nombre del Usuario</mat-label
                              >
                              <input
                                type="text"
                                class="form-control inputBusqueda .input-con-color-de-fondo"
                                placeholder="Ej. Usu123"
                                formControlName="usuarioF" 
                                (keyup)="esFiltrar()"
                              />
                                
                              <i class="fa-solid fa-user FormatoIconos"></i>
                            </label>
                          </div>
                        </div>
                      
                    </div>

                  </form>

                </div>
              </div>
            </div>

            <br />
            <br />

            <div class="row">
              <div class="col-12 cardFiltrado cardAnimate cardFlat">
                <!-- app.component.html -->
                <div class="table" *ngIf="dataSourceCliente">
                    <table mat-table [dataSource]="dataSourceCliente" matSort #matSortCliente="matSort">
      
                    <!-- Columnas -->
                    <ng-container matColumnDef="tdDescripcion">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="tdDescripcion">Tipo Doc.</th>
                      <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.tdDescripcion }}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="cliNroDoc">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="cliNroDoc">Num. Doc. </th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.cliNroDoc }}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="cliApeNomDen">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="cliApeNomDen">Cliente</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.cliApeNomDen }}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="usuario">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="usuario">Usuario</th>
                      <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.usuario }}</td>
                    </ng-container>                      
                  
                    <!-- Columna vacia -->
                    <ng-container matColumnDef="columnaVacia">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef></th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element"></td>
                    </ng-container>
            
                    <!-- Columna de acciones -->             
                    <ng-container matColumnDef="seleccionar">
                      <th class="encabezado text-center" mat-header-cell *matHeaderCellDef >Seleccionar</th>
                      <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                        <button
                          mat-button
                          (click)="esfilaSeleccionadaCliente(element)"
                          
                          type="button"
                          class="btn"
                          data-bs-target="#staticBackdrop"
                          title="Seleccionar Cliente"
                        >
                          <img
                            src="../../../assets/seleccionar_user.png"
                            class="iconosBoton"
                            alt="..."
                          />
                        </button>
                      </td>
                    </ng-container>

                    <!-- Filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCliente"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCliente;
                      let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
                    </tr>
                    
                  </table>
            
                  <!-- Paginador -->
                  <mat-paginator *ngIf="dataSourceCliente"
                    [length]="dataSourceCliente.data.length"
                    [pageSize]="pageSizeCliente"
                    [pageSizeOptions]="[5, 15, 25, 50, 100]"
                    (page)="handlePageChangeCliente($event)"
                    showFirstLastButtons
                    #paginatorCliente
                  ></mat-paginator>
            
                  <div class="align-center" *ngIf="validarFiltradoClientes() == true">
                  </div>
            
                  <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoClientes() == false">
                    No se encontraron clientes que coincidan con su búsqueda.
                  </div>
            
                </div>
              </div>          
            </div>

          </div>
        </ng-container>
    
        <mat-step [label]="titulo2" [completed]="isStep2Completed">
          <ng-container contenido-paso-2>
            <!-- Botón ver otro cliente -->
            <div class="row">
              <div
                class="example-button-row"
                style="display: flex; justify-content: flex-end"
              >
                <button
                  mat-fab
                  extended
                  color="primary"
                  class="btonNuevaConsulta"
                  (click)="goToPreviousStep()"
                >
                  <mat-icon>touch_app</mat-icon>
                  Nueva Consulta
                </button>
              </div>
            </div>

            <br>
            <br>

            <form [formGroup]="formRegistar">

              <div class="card cardFiltrado cardAnimate cardFlat">
                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mb-0 tituloCard">Ingresar Datos de Central Meteorológica </h4>
                    <img
                      src="../../../assets/central_seleccionada.png"
                      class="image"
                      style="width: 5%; height: 5%; padding-right: 5px"
                      alt="..."
                    />
                  </div>
                </div>
    
                <br>
                <br>
              
                <div class="row"> 

                  <div class="col-md-6">
                    <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                      <mat-form-field
                        appearance="fill"
                        class="example-full-width form-outline input-group"
                      >
                        <mat-label>Cliente</mat-label>
                        <input
                          type="text"
                          style="padding-left: 20px"
                          matInput
                          id="cliApeNomDenVM"
                          value="cliApeNomDenVM"
                          formControlName="cliApeNomDenVM"
                          required
                          readonly
                        />
                        <mat-icon class="edit" matSuffix
                          >edit_off</mat-icon
                        >
                      </mat-form-field>                        
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                      <mat-form-field
                        appearance="fill"
                        class="example-full-width form-outline input-group"
                      >
                        <mat-label>Usuario</mat-label>
                        <input
                          type="text"
                          style="padding-left: 20px"
                          matInput
                          id="usuarioVM"
                          value="usuarioVM"
                          formControlName="usuarioVM"
                          required
                          readonly
                        />
                        <mat-icon class="edit" matSuffix
                          >edit_off</mat-icon
                        >
                      </mat-form-field>
                    </div>
                  </div>                                
                  

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-outline input-group mb-3 d-flex flex-column align-items-center">
                        <mat-form-field appearance="fill" class="example-full-width form-outline input-group">
                          <mat-label>IMEI</mat-label>
                          <input
                            type="text"
                            style="padding-left: 20px"
                            matInput
                            id="imei"
                            value="imei"
                            formControlName="imei"
                            required
                          />
                          <mat-icon class="edit" matSuffix>edit</mat-icon>
                        </mat-form-field>
                        <mat-error
                          *ngIf="imei?.invalid && (imei?.dirty || imei?.touched)"
                          class="text-danger"
                        >
                          <mat-error class="error" *ngIf="imei?.errors?.['required']">
                            El IMEI es requerido.
                          </mat-error>
                          <mat-error class="error" *ngIf="imei?.errors?.['pattern']">
                            Debe ingresar solamente 15 números.
                          </mat-error>
                        </mat-error>
                      </div>
                    </div>
                  </div>
                  

                </div>

              </div>

              <br>
              <br>

              <div class="card cardFiltrado cardAnimate cardFlat">
                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mb-0 tituloCard">Ubicación de la Central </h4>
                    <img
                      src="../../../assets/central_seleccionada.png"
                      class="image"
                      style="width: 5%; height: 5%; padding-right: 5px"
                      alt="..."
                    />
                  </div>
                </div>
    
                <br>
                <br>
              
                <div class="row">          
                  <div class="col-md-6">
                    <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                      <mat-form-field
                        appearance="fill"
                        class="example-full-width form-outline input-group"
                      >
                        <mat-label>Coordenadas X </mat-label>
                        <input
                          type="text"
                          style="padding-left: 20px"
                          matInput
                          id="coordenadaX"
                          value="coordenadaX"
                          formControlName="coordenadaX"
                          required
                          readonly
                        />
                        <mat-icon class="edit" matSuffix
                          >edit_off</mat-icon
                        >
                      </mat-form-field>                        
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-outline input-group mb-3 d-flex align-items-center justify-content-center">
                      <mat-form-field
                        appearance="fill"
                        class="example-full-width form-outline input-group"
                      >
                        <mat-label>Coordenadas Y</mat-label>
                        <input
                          type="text"
                          style="padding-left: 20px"
                          matInput
                          id="coordenadaY"
                          value="coordenadaY"
                          formControlName="coordenadaY"
                          required
                          readonly
                        />
                        <mat-icon class="edit" matSuffix
                          >edit_off</mat-icon
                        >
                      </mat-form-field>
                    </div>
                  </div>  
                </div>
    
                <br />
                <div id="map" style="height: 400px"></div>      
              </div>
    
              <br>
              <br>

              <div class="card cardFiltrado cardAnimate cardFlat">
                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mb-0 tituloCard">Añadir Servicios </h4>
                    <img
                      src="../../../assets/cold.png"
                      class="image"
                      style="width: 5%; height: 5%; padding-right: 5px"
                      alt="..."
                    />
                  </div>
                </div>
      
                <br>
                <br>
    
                <div class="row">          
                  <div class="col-md-6">
                    <h2 class="align-center"> Servicios Disponibles </h2>
                    <div class="table" *ngIf="dataSourceServicio">
                        <table mat-table [dataSource]="dataSourceServicio" matSort #matSortServicio="matSort">
      
                        <!-- Columnas -->
                        <ng-container matColumnDef="serId">
                          <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serId">Cod.</th>
                          <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.serId }}</td>
                        </ng-container>
      
                        <ng-container matColumnDef="serDescripcion">
                          <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Nombre de Servicio</th>
                          <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
                        </ng-container>                 
                
                        <ng-container matColumnDef="agregarServ">
                          <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Agregar Serv.</th>
                          <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                            <button type="button" class="btn"
                              data-bs-target="#staticBackdrop" (click)="agregarServicio(element)" title="Agregar Servicio">                        
                              <img
                              style="width: 50%; height: 50%"
                              src="../../../assets/agregar.png"
                              class="image"
                              alt="..."
                              />     
                            </button>
    
                          </td>
                        </ng-container>
    
                        <!-- Filas -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsServicio"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsServicio;
                          let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
                        </tr>
                        
                      </table>
                
                      <!-- Paginador -->
                      <mat-paginator *ngIf="dataSourceServicio"
                        [length]="dataSourceServicio.data.length"
                        [pageSize]="pageSizeServicio"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="handlePageChangeServicio($event)"
                        showFirstLastButtons
                        #paginatorServicio 
                      ></mat-paginator>
                
                      <div class="align-center" *ngIf="validarFiltradoServicios() == true">
                      </div>
                
                      <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServicios() == false">
                        No hay Servicios disposable
                      </div>
                
                    </div>
                  </div>  
                  
                  <div class="col-md-6">
                    <h2 class="align-center"> Servicios Agregados </h2>
                    <div class="table" *ngIf="dataSourceServicioAgregados">
                      <table mat-table [dataSource]="dataSourceServicioAgregados" matSort #matSortServicioAgregados="matSort">
    
                      <!-- Columnas -->
                      <ng-container matColumnDef="serId">
                        <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serId">Cod.</th>
                        <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.serId }}</td>
                      </ng-container>
    
                      <ng-container matColumnDef="serDescripcion">
                        <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Nombre de Servicio</th>
                        <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
                      </ng-container>                 
              
                      <ng-container matColumnDef="extraerServ">
                        <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Extrar Serv.</th>
                        <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                          <button type="button" class="btn"
                            data-bs-target="#staticBackdrop" (click)="extraerServicio(element)" title="Extrar Servicio">                        
                            <img
                            style="width: 50%; height: 50%"
                            src="../../../assets/minus.png"
                            class="image"
                            alt="..."
                            />     
                          </button>
    
                        </td>
                      </ng-container>
    
                      <!-- Filas -->
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsServicioAgregados"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsServicioAgregados;
                        let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
                      </tr>
                      
                    </table>
              
                    <!-- Paginador -->
                    <mat-paginator *ngIf="dataSourceServicioAgregados"
                      [length]="dataSourceServicioAgregados.data.length"
                      [pageSize]="pageSizeServicioAgregados"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      (page)="handlePageChangeServicioAgregados($event)"
                      showFirstLastButtons
                      #paginatorServicioAgregados
                    ></mat-paginator>
              
                    <div class="align-center" *ngIf="validarFiltradoServiciosDeCentral() == true">
                    </div>
              
                    <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServiciosDeCentral() == false">
                      No tiene Servicios Activos la Central
                    </div>
              
                  </div>
                  </div>
                </div>
                
    
                <br>             
                <div class="col-12 text-center">
                  <button
                    mat-fab
                    extended
                    color="primary"
                    type="submit"
                    id="btnAgregar"
                    class="btn btnConfirmar"
                    data-bs-target="#staticBackdrop"
                    [disabled]="cenNroDocSeleccionado === ''"
                    (click)="registrarCentral()"
                  >
                  Agregar Central
                  </button>
                </div>
        
                <br>
    
                <br>
              </div>

            </form>

          </ng-container>
        </mat-step>

    </mat-step>
    </mat-vertical-stepper>
    
  </div>
  
<app-footer-interno></app-footer-interno>
