@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "ROBOTO", sans-serif;
  }

  .nav,
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    padding: 0 2em;
  }

  .nav h1,
  .slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
  }
  .slider h4 {
    font-size: 1vw;
    letter-spacing: 0.2vw;
    color: #faebd7;
}
  .slider h3 {
    font-size: 1vw;
    letter-spacing: 0.2vw;
    color: #faebd7;
    font-family: 'Teko', sans-serif;
  }
  h1:hover {
    transform: translate3d(0, -10px, 22px) !important;
    color: #0EC3DC !important;
  }

  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }
  h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    /* font-family: 'Dancing Script', cursive; */
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }
  h4.span {
    font-size: 20px;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }
  /* span:hover {
    color: #01C3CC;
    font-weight: 500;
    font-size: 2.2vw;
  } */
  .hoverClick{
    color: #ffffff !important;
    font-weight: 500 !important;
    font-size: 1.5vw !important;
  }

  a {
    text-decoration: none;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .nav-container--top-second {
    position: fixed;
    top: 0;
  }
  .nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
  }

  .nav-tab:hover {
    color: #1e1f26;
    /* background: #03dac6; */
    background: #7BE10A;
    transition: all 0.5s ease;
  }

  .nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
  }
  /* .background1 {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  } */
  @media (min-width: 800px) {
    .nav h1,
    .slider h1 {
      font-size: 5vw;
    }

    .nav h2,
    .slider h2 {
      font-size: 3vw;
    }

    .nav-tab {
      font-size: 3vw;
    }
  }

  @media (min-width: 360px) {

    .nav h1,
    .slider h1 {
      font-size: 4vw;
    }

    .nav h2,
    .slider h2 {
      font-size: 2vw;
      letter-spacing: 0.2vw;
    }

    .nav-tab {
      font-size: 1.2vw;
    }
  }
  /* .background1 {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  } */
  .loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
    animation: loading 1s ease-in-out infinite alternate;
  }

  @keyframes loading {
    to {
      text-shadow: 20px 0 70px #50D42C;
      color: #50D42C;
    }
  }

  @-webkit-keyframes loading {
    to {
      text-shadow: 20px 0 70px #9502CC;
      color: #01C3CC;;
    }
  }
  .loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  .loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  .loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
  }
  .loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  .loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  .loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  .loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }
  .loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  .loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
  }
  .loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  /* -----Botón Ingresar----------- */
.frame {
  width: 90% ;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.button-container {
  /* width: 90% ;
  margin: 40px auto; */
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: large;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 152px;
  height: 47px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-12 span {
  background: #1fd1f9;
  background: linear-gradient(315deg, rgb(31, 209, 249) 0%, rgb(182, 33, 254) 74%);
  display: block;
  position: absolute;
  width: 152px;
  height: 47px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
/* -----------------------FORMULARIO DE CONTACTO---------------------------------- */
.contact_form{
	width: 460px;
  height: auto;
  margin: 80px auto;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0 20px rgba(248, 247, 247, 0.4);
}


input{
	background-color: #fbfbfb;
	width: 390px;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #01C3CC;
	margin-top: 10px;
	padding-left: 10px;
  margin-bottom: 20px;
}


textarea{
  background-color: #fbfbfb;
	width: 390px;
	height: 150px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #01C3CC;
	margin-top: 10px;
	padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


.labelInput{
  display: block;
	float: left !important;
  padding-left: 8px;
}


.botonEnviar{
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
  margin-bottom: 0px !important;
	text-transform: uppercase;
	background-color: #01C3CC;
	border-color:  #01C3CC;;
	border-style: solid;
	border-radius: 10px;
	width: 360px;
  cursor: pointer;

}


button p{
	color: #fff;
}


span{
	color: #ffffff;;
}


.aviso{
	font-size: 13px;
	color: #0e0e0e;
}


h1{
	font-size: 20px;
	text-align: letf;
	padding-bottom: 20px;
	color: #01C3CC;
}


h3{
	font-size: 16px;
	padding-bottom: 30px;
	color: #0e0e0e;
}


p{
	font-size: 14px;
	color: #0e0e0e;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d44c;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
.espacioInput{
  margin-bottom: 10px;
}
/* -----------------------CARD DE SERVICIOS--------------------------------- */
.form {
  width: 95%;
}
.fondo{
  background-color: #144e4000;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  padding-left: 6px;
  padding-top: 15px;
}
/* .carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
} */
.control{
  width: 0% !important;
   margin-right: 100%;
   transition: transform 0.6s ease-in-out;
   
  
}
/* ---Animación de imágenes------ */
#imagen1 {
  padding-bottom: 230px;
  width: 10%;
  height: 10%;
}

/* Animación solo para viento2 */


/* Animación */
/* @keyframes moverImagen {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); } 
  100% { transform: translateX(0); }
} */
#imagen1.animada {
  animation: moverImagen 0.1s alternate linear infinite, desplazarHorizontal 5s linear infinite;
}


@keyframes moverImagen {
  0% {
    transform: translate(-2px, -2px) rotate(0deg);
  }
  100% {
    transform: translate(2px, 2px) rotate(2deg);
  }
} 
/* #imagen1.animada {
  animation: moverImagen 0.1s alternate linear infinite, desplazarHorizontal 2s linear infinite;
  transform-origin: center;
}


@keyframes moverImagen {
  0% {
    transform: translate(-2px, -2px) rotate(0deg);
  }
  100% {
    transform: translate(2px, 2px) rotate(2deg);
  }
} */

/* Animación de Desplazamiento Horizontal */
@keyframes desplazarHorizontal {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translate(0, 10px); /* Desplazamiento vertical hacia abajo */
  }
  75% {
    transform: translateX(18px);
  }
  90% {
    transform: translate(0, 10px); /* Desplazamiento vertical hacia abajo */
  }
 
  100% {
    transform: translateX(-20px);
  }
}

.tituloCarrucel{
  font-size: 35px; font-family: 'Bebas Neue'; color: #ffffff;
  padding-top: 5%;
}
.subtituloCarrucel{
  font-size: 18px; color: #7BE10A;
}

.textoCarrucel{
  font-size: 18px; color:#0EC3DC
}
.example-card {
  max-width: 400px;
}
/* -------CARD INTEGRANTES---------- */
.cardIntegrantes{
  max-width: 300px; 
  height: 369px; 
  margin-right: 30px;
}
.mat-card {
  background: #9fd4da5e;
  color: rgba(0,0,0,.87);
}