<!-- <app-navbar></app-navbar> -->
<div class="row body_" style="padding-left: 75px; margin-top: 25px;">
  <p><p></p> <p><p></p> <p><p></p> <p><p></p>
  
                
  <div class="col-1">
    <!-- Aqui lo de la izquierda -->
  </div>
  <div class="col-10">
    <!-- card internas -->
    <div class="row">
      <div class="col-sm-3">
        <mat-card class="cardInternas card1">
          <mat-card-header>
            <mat-card-content></mat-card-content>
            <mat-card-title class="cardTitulo" style="position: center;">Mi Perfil</mat-card-title>
            <br>
            <mat-card-subtitle class="cardSubTitulo">Consulta los datos de tu cuenta</mat-card-subtitle>
            <img
                            src="../../../assets/cuenta.png"
                            class="imagenesCard"
                            alt="..."
                            />  
            
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="datoPerfil()" *ngIf="!habilitarDatoPerfil">VER</button>
            <button mat-button (click)="datoPerfil()" *ngIf="habilitarDatoPerfil">OCULTAR</button>
            
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="cardInternas card2">
          <mat-card-header>
            <mat-card-title class="cardTitulo" style="position: center;">Datos de Acceso</mat-card-title>
            <mat-card-subtitle class="cardSubTitulo">Modifica tu contraseña.</mat-card-subtitle>
            <img
                            src="../../../assets/password.png"
                            class="imagenesCard"
                            alt="..."
                            />  
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="modContr()" *ngIf="!habilitarModContrasena">ACCEDER</button>
            <button mat-button (click)="modContr()" *ngIf="habilitarModContrasena">OCULTAR</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="cardInternas card3">
          <mat-card-header>
            <mat-card-title class="cardTitulo">Mis Accesos Directos</mat-card-title>
            <mat-card-subtitle class="cardSubTitulo">Accede rápidamente a tus opciones preferidas.  </mat-card-subtitle>
            <img
                            src="../../../assets/accesodirecto1.png"
                            class="imagenesCard"
                            alt="..."
                            />  
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="accesoDirectos()" *ngIf="!habilitarAccesoDirectos">VER</button>
            <button mat-button (click)="accesoDirectos()" *ngIf="habilitarAccesoDirectos">OCULTAR</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3" *ngIf="rol != 1">
        <mat-card class="cardInternas card4">
          <mat-card-header>
            <mat-card-title class="cardTitulo">Mi Panel de Monitoreo</mat-card-title>
            <mat-card-subtitle class="cardSubTitulo">Interpreta los gráficos de tus mediciones.</mat-card-subtitle>
            <img
                            src="../../../assets/panel1.png"
                            class="imagenesCard"
                            alt="..."
                            />  
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="redirigirPanel()" >VER</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3" *ngIf="rol == 1">
        <mat-card class="cardInternas card4">
          <mat-card-header>
            <mat-card-title class="cardTitulo">Centrales Meteorológicas</mat-card-title>
            <mat-card-subtitle class="cardSubTitulo">Consulta tu inventario</mat-card-subtitle>
            <img
                            src="../../../assets/centralTarjeta.png"
                            class="imagenesCard"
                            alt="..."
                            />  
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="redirigirCentrales()" >VER</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <br>
    

    <!-- fin card internas -->
    <div class="card-body"></div>
    <div class="card-container">
      <div class="card_externa html body">
        <h1>Bienvenido!</h1>
        <div class="row">

          <div class="col-8" style="height: 450px;" *ngIf="!(habilitarDatoPerfil || habilitarModContrasena)">
          </div>
          <div class="col-8" *ngIf="habilitarDatoPerfil || habilitarModContrasena">
            <br />
            <div class="row row-cols-1 row-cols-md-1 g-2" style="height: 45px;">
              <div class="col">                
                
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title cardTitulo cardPerfilContraseña" *ngIf="habilitarDatoPerfil">Mi Perfil</h5>
                    <h5 class="card-title cardTitulo cardPerfilContraseña" *ngIf="habilitarModContrasena">Restablecer Contraseña</h5>
                    <p class="card-text">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />

            <div class="row row-cols-1 row-cols-md-1 g-2">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <app-consultar-cuenta *ngIf="habilitarDatoPerfil"></app-consultar-cuenta>
                    <app-modificar-password *ngIf="habilitarModContrasena"></app-modificar-password>

                    <br>
                    <br>
                    <!-- <div class="col-12" style="display: flex; justify-content: center" *ngIf="habilitarModContrasena">
                      <div class="col-md-6" style="display: flex; justify-content: center">
                        <button mat-fab extended color="primary" type="submit" class="btn btnGuardar" data-bs-toggle="button"
                          (click)="modContr()" > Modificar Contraseña
                        </button>
                      </div>
                    </div> -->
                    <!-- <div class="col-12" style="display: flex; justify-content: center" *ngIf="habilitarDatoPerfil">                      
                      <div class="col-md-6" style="display: flex; justify-content: center">
                        <button mat-fab extended color="primary" type="submit" class="btn btnGuardar" data-bs-toggle="button"
                          (click)="datoPerfil()" > Datos de Perfil 
                        </button>
                      </div>
                    </div> -->

                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div class="col-4">
            <!-- Aqui lo de la izquierda -->
            <div class="row row-cols-1 row-cols-md-1 g-2">
              <div class="col">
                <div class="card fondoReloDigital">
                  <h5 class="card-title efecto-texto"></h5>
                  <div class="  ">
                    <img
                      src="./assets/calendar.png"
                      class="icon"
                      alt="..."
                    />
                    <div class="reloj">
                      <img src="" alt="" />
                      <p class="hora">{{ hora | date : "hh:mm:ss a" }}</p>
                      <p class="fecha">
                        {{ fecha | date : "ccc, d LLL, yyyy" }}
                      </p>
                    </div>
                  </div>
                </div>
                <br />
              </div>
              <!-- <div class="col">
                <div class="cardDerecha" style="margin-top: 291px;">
                  <div class="card-body">
                    <h5 class="card-title efecto-texto"></h5>
                    <app-carousel>
                      <form action="#" class="border form">
                        <div
                          id="carouselExampleInterval"
                          class="from-group carousel slide"
                          data-bs-ride="carousel"
                        >
                          <div class="carousel-inner">
                            <div
                              class="carousel-item active"
                              data-bs-interval="8000"
                            >
                              <img
                                src="./assets/img_agro.jpg"
                                class="d-block w-50"
                                alt="Imagen Banco"
                              />
                              <div class="carousel-caption d-none d-md-block">
                                <div class="card-body">
                                  <h5>CeMSA</h5>
                                  <p>Innovando el Sector Agropecuario</p>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="8000">
                              <img
                                src="./assets/img_agro.jpg"
                                class="d-block w-50"
                                alt="Imagen Natural"
                              />
                              <div class="carousel-caption d-none d-md-block">
                                <div class="card-body">
                                  <h5>Sensores de Humedad</h5>
                                  <p>Miden la humedad del suelo y del aire</p>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="8000">
                              <img
                                src="./assets/img_agro.jpg"
                                class="d-block w-50"
                                alt="Imagen Prestamo"
                              />
                              <div class="carousel-caption d-none d-md-block">
                                <div class="card-body">
                                  <h5>Sensores de Temperatura</h5>
                                  <p>
                                    Proporcionando indicadores para favorecer la
                                    siembra y cosecha
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev"
                          >
                            <span
                              class="carousel-control-prev-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="visually-hidden">Anterior</span>
                          </button>
                          <button
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next"
                          >
                            <span
                              class="carousel-control-next-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="visually-hidden">Siguiente</span>
                          </button>
                        </div>
                      </form>
                    </app-carousel>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <br />
        <div class="row">
        </div>
        <br />

        <div class="card" *ngIf="habilitarAccesoDirectos">
          <div class="card-body">
            <h5 class="card-title cardTitulo" style="font-weight: bold; color:#4a67a4fc" >Mis Acessos Directos</h5>
            <p class="card-text" style="margin: 0px 0 33px">
            </p>
            <div class="card-container2" *ngIf="rol != 1">
              <a routerLink="/consultar-paneles-monitoreo" class="accesosDirectos accesosDirectos:hover">
                <img src="../../../assets/control-panel.png" class="image" alt="..." />
                <h5 class="efecto-texto content">Mi Panel de Control</h5>
              </a>
              <a routerLink="/consultar-central-cliente" class="accesosDirectos accesosDirectos:hover">
                <img src="./assets/anemometers.png" class="image" alt="..." />
                <h5 class="efecto-texto content">Mis Centrales</h5>
              </a>
              <a routerLink="/consultar-mediciones-actuales" class="accesosDirectos accesosDirectos:hover">
                <img src="./assets/mediciones.png" class="image" alt="..." />
                <h5 class="efecto-texto content">Estado Actual</h5>
              </a>
            </div>
            <div class="card-container2" *ngIf="rol != 0">
              <a routerLink="/consultar-cliente" class="accesosDirectos accesosDirectos:hover">            
                <img src="./assets/resource.png" class="image" alt="..." />
                <h5 class="efecto-texto content">Mis Clientes</h5>
              </a>
              <a routerLink="/consultar-central" class="accesosDirectos accesosDirectos:hover">
                <img src="./assets/central_admin.png" class="image" alt="..." />
                <h5 class="efecto-texto content">Ver Centrales</h5>
              </a>
              <a routerLink="/consultar-servicio" class="accesosDirectos accesosDirectos:hover">
                <img src="./assets/climate.png" class="image" alt="..." />
                <h5 class="efecto-texto content">Consultar Servicios </h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer-interno></app-footer-interno> -->
