<h1 class="text-center">Modificar Contraseña</h1>
<br />

<div class="d-flex justify-content-center">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formPassword" class="row">
                                        
                    <!-- Campo Usuario -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-outline input-group mb-3">
                            <span class="input-group-text">Usuario</span>
                            <input type="text" id="usuario" class="form-control" value="usuario" formControlName="usuario"
                                readonly />                                    
                        </div>                                
                    </div>

                    <!-- Campo Contraseña -->
                    <div class="col-md-12">
                        <div class="form-outline input-group mb-3">
                            <span class="input-group-text">Contraseña</span>
                            <input type="password" class="form-control" value="password"
                                formControlName="password" required />
                        </div>

                        <!-- Validaciones Contraseña -->
                        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                            class="text-danger">
                            <div *ngIf="password?.errors?.['required']">
                                La contraseña es requerida.
                            </div>
                        </div>
                    </div>

                    <!-- Campo Nueva Contraseña -->
                    <div class="col-md-12">
                        <div class="form-outline input-group mb-3">
                            <span class="input-group-text">Nueva Contraseña</span>
                            <input type="password" class="form-control" value="newPassword"
                                formControlName="newPassword" required />
                        </div>

                        <!-- Validaciones Contraseña -->
                        <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)"
                            class="text-danger">
                            <div *ngIf="newPassword?.errors?.['required']">
                                La contraseña es requerida.
                            </div>
                            <div *ngIf="newPassword?.errors?.['pattern']">
                                La contraseña no es valida.
                            </div>
                        </div>
                    </div>

                    <!-- Campo Confirmar Contraseña -->
                    <div class="col-md-12">
                        <div class="form-outline input-group mb-3">
                            <span class="input-group-text">Confirmar Contraseña</span>
                            <input type="password" class="form-control" value="confPassword"
                                formControlName="confPassword" required />
                        </div>

                        <!-- Validaciones Contraseña -->
                        <div *ngIf="confPassword?.invalid && (confPassword?.dirty || confPassword?.touched)"
                            class="text-danger">
                            <div *ngIf="confPassword?.errors?.['required']">
                                La contraseña es requerida.
                            </div>                                    
                        </div>
                        <div class="text-danger">
                            <div *ngIf="matchPasswords()">
                                Las contraseñas no coinciden.
                            </div>
                        </div>
                    </div>

                    <!-- Validaciones Boton Ingresar -->
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success" data-bs-toggle="button" 
                            (click)="cambiarPassword()" >Cambiar Password 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
