<form action="#" class="border form">
    <div id="carouselExampleInterval" class="from-group carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="./assets/img_agro.jpg" class="d-block w-100" alt="Imagen Banco">
                <div class="carousel-caption d-none d-md-block card w-55 fondo">
                    <div class="card-body">
                        <h5>CeMSA</h5>
                        <p>Innovando el Sector Agropecuario</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="./assets/img_natural.jpg" class="d-block w-100" alt="Imagen Natural">
                <div class="carousel-caption d-none d-md-block  card w-55 fondo">
                    <div class="card-body">
                        <h5>Sensores de Humedad</h5>
                        <p>Miden la humedad del suelo y del aire </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="./assets/imagen2_uso.jpg" class="d-block w-100" alt="Imagen Prestamo">
                <div class="carousel-caption d-none d-md-block  card w-55 fondo">
                    <div class="card-body">
                        <h5>Sensores de Temperatura</h5>
                        <p>Proporcionando indicadores para favorecer la siembra y cosecha</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</form>