<div class="body" style="padding-left: 75px; margin-top: 70px;">
  <h1 class="text-center titulo tituloFuente">Consultar Reportes</h1>
  <!-- Contenido de breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="padding-left: 160px; font-size: 18px">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Consultar Reportes
      </li>
    </ol>
  </nav>
  <div class="container mt-12">

<!-- ----------------------------Inicio de Paso a Paso-------------------------------------------- -->
<mat-vertical-stepper>
  <mat-step
    [label]="titulo1"
    [completed]="isStep1Completed"
    [ngClass]="{ collapse: isCollapsed1 }"
  >
    <ng-container contenido-paso-1>
      <div class="card-body" [ngClass]="{ collapse: isCollapsed2 }">
  
        <div class="row justify-content-center">
          <div class="col-5 cardFiltrado cardAnimate cardFlat">
            <div>
              <div class="row">
                <div class="col-md-2 image-container">
                  <span
                    ><img
                      style="width: 102%; height: 102"
                      src="../../../assets/filtrar_central.png"
                      class="image"
                      alt="..."
                    />
                    <div class="texto">
                      <h4
                        style="
                          text-align: center;
                          color: #63ddff;
                          font-size: 18px;
                        "
                      >
                        Filtrar Central
                      </h4>
                    </div></span
                  >
                </div>                 

                <div
                class="col-md-1 vertical-line"
                style="width: 20px"
              ></div>
              <div class="col-md-2 margenFiltros">
                <div
                  class="form-outline input-group"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Buscar por Código de Central"
                >
                  <label class="search-field">
                    <mat-label
                      class="search-field label ng-tns-c97-48 ng-star-inserted"
                      >Código de Central</mat-label
                    >
                    <input
                      type="text"
                      class="form-control inputBusqueda .input-con-color-de-fondo"
                      placeholder="Ej. 1"
                      (keyup)="esFiltrar($event , 'codigo')"
                    />                             
                    <i
                      class="fas fa-search FormatoIconos"
                      style="padding-left: 20px"
                    ></i>
                  </label>
                </div>                          
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />

      <div class="row">
        <div class="col-12 cardFiltrado cardAnimate cardFlat">
          <!-- app.component.html -->
          <div class="table" *ngIf="dataSourceCentral">
            <table mat-table [dataSource]="dataSourceCentral" matSort #matSortCentral="matSort">

              <!-- Columnas -->
              <ng-container matColumnDef="cenNro">                                                            
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Cod.</th>
                <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.cenNro }}</td>
              </ng-container>
      
              <ng-container matColumnDef="cenImei">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>IMEI</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.cenImei }}</td>
              </ng-container>
      
              <ng-container matColumnDef="cenCoorX">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Coordenada X</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.cenCoorX }}</td>
              </ng-container>
      
              <ng-container matColumnDef="cenCoorY">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Coordenada Y</th>
                <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.cenCoorY }}</td>
              </ng-container>    
      
              <!-- Columna vacia -->
              <ng-container matColumnDef="columnaVacia">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef></th>
                <td class="table-row" class="align-center" mat-cell *matCellDef="let element"></td>
              </ng-container>
      
              <!-- Columna de acciones -->
              <ng-container matColumnDef="seleccionar">
                <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Seleccionar</th>
                <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                  <button
                    mat-button
                    (click)="seleccionarCentral(element)"
                    type="button"
                    class="btn"
                    data-bs-target="#staticBackdrop"
                    title="Seleccionar Central"
                  >
                    <img
                      src="../../../assets/seleccionar_central.png"
                      class="iconosBoton"
                      alt="..."
                    />
                  </button>
                </td>
              </ng-container>
      
              <!-- Filas -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsCentral"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsCentral; 
                let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
              </tr>      
            </table>
      
            <!-- Paginador -->
            <mat-paginator *ngIf="dataSourceCentral"
              [length]="dataSourceCentral.data.length"
              [pageSize]="pageSizeCentral"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="handlePageChangeCentral($event)"
              showFirstLastButtons
              #paginatorCentral
            ></mat-paginator>
      
            <div class="align-center" *ngIf="validarFiltrado() == true">
            </div>
      
            <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltrado() == false">
              No se encontraron centrales que coincidan con su búsqueda.
            </div>
      
          </div>
        </div>
      </div>

        </div>
    </ng-container>  
  </mat-step>

  <mat-step
  [label]="titulo2"
  [completed]="isStep2Completed"
  [ngClass]="{ collapse: isCollapsed2 }"
  >
    <ng-container contenido-paso-2>
    <!-- Botón ver otra central -->
    <div class="row">
      <div
        class="example-button-row"
        style="display: flex; justify-content: flex-end"
      >
        <button
          mat-fab
          extended
          color="primary"
          class="btonNuevaConsulta"
          (click)="goToPreviousStep()"
        >
          <mat-icon>touch_app</mat-icon>
          Nueva Consulta
        </button>
      </div>
    </div>

    <br>
    <br>

    <!-- Seleccione el Servicio para Generar Reporte -->
    <div class="card cardFiltrado cardAnimate cardFlat">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0 tituloCard">Seleccione el Servicio para Generar Reporte </h4>
          <img
            src="../../../assets/cold.png"
            class="iconosBoton"
            style="width: 5%; height: 5%; padding-right: 5px"
            alt="..."
          />
        </div>
      </div>
      <br>

      <div class="row">          
        <div class="col-md-6">

          <h2 class="align-center"> Servicios Disponibles </h2>

          <!-- app.component.html -->
          <div class="table" *ngIf="dataSourceServicioDisponible">
            <table mat-table [dataSource]="dataSourceServicioDisponible" matSort #matSortServicioDisponible="matSort">

            <!-- Columnas -->
            <ng-container matColumnDef="serId">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serId">Cod.</th>
              <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.serId }}</td>
            </ng-container>

            <ng-container matColumnDef="serDescripcion">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Servicio</th>
              <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
            </ng-container>               
                  
            <!-- Columna de acciones -->
            <ng-container matColumnDef="AgregarServ">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Agregar Serv.</th>
              <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                <button type="button" class="btn"
                data-bs-target="#staticBackdrop" (click)="agregarServicio(element)" title="Agregar Servicio">                    
                <img
                  style="width: 50%; height: 50%"
                  src="../../../assets/agregar.png"
                  class="image"
                  alt="..."
                  />                      
                </button>
              </td>
            </ng-container>
            
            <!-- Filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsServicioDisponible"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsServicioDisponible;
              let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
            </tr>
            
          </table>

          <!-- Paginador -->
          <mat-paginator *ngIf="dataSourceServicioDisponible"
            [length]="dataSourceServicioDisponible.data.length"
            [pageSize]="pageSizeServicioDisponible"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="handlePageChangeServicioDisponible($event)"
            showFirstLastButtons
            #paginatorServicioDisponible
          ></mat-paginator>

          <div class="align-center" *ngIf="validarFiltradoServicios() == true">
          </div>

          <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServicios() == false">
            No hay Servicios Disponible
          </div>

          </div>
        </div>

        <div class="col-md-6">
          <h2 class="align-center"> Servicio a Generar Reporte </h2>

          <!-- app.component.html -->
          <div class="table" *ngIf="dataSourceServicioGraficar">
            <table mat-table [dataSource]="dataSourceServicioGraficar" matSort #matSortServicioGraficar="matSort">

            <!-- Columnas -->
            <ng-container matColumnDef="serId">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serId">Cod.</th>
              <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.serId }}</td>
            </ng-container>

            <ng-container matColumnDef="serDescripcion">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Servicio</th>
              <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
            </ng-container>               
                  
            <!-- Columna de acciones -->
            <ng-container matColumnDef="ExtraerServ">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef>Extraer Serv.</th>
              <td class="table-row" class="align-center" mat-cell *matCellDef="let element">
                <button type="button" class="btn"
                data-bs-target="#staticBackdrop" (click)="extraerServicio(element)" title="Extrar Servicio">
                  <img
                  style="width: 50%; height: 50%"
                    src="../../../assets/minus.png"
                    class="image"
                    alt="..."
                  />
                </button>
              </td>
            </ng-container>
            
            <!-- Filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsServicioGraficar"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsServicioGraficar;
              let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
            </tr>
            
          </table>

          <!-- Paginador -->
          <mat-paginator *ngIf="dataSourceServicioGraficar"
            [length]="dataSourceServicioGraficar.data.length"
            [pageSize]="pageSizeServicioGraficar"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="handlePageChangeServicioGraficar($event)"
            showFirstLastButtons
            #paginatorServicioGraficar
          ></mat-paginator>

          <div class="align-center" *ngIf="validarFiltradoServiciosGraficar() == true">
          </div>

          <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServiciosGraficar() == false">
            No tiene Servicios Activos para Generar Reporte
          </div>

          </div>
        </div>
      </div> 
    </div>

    <br>
    <br>

    <!-- Visualización -->
    <div class="card cardFiltrado cardAnimate cardFlat">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0 tituloCard">Visualización </h4>
          <img
            src="../../../assets/accounting.png"
            class="iconosBoton"
            style="width: 5%; height: 5%; padding-right: 5px"
            alt="..."
          />
        </div>
      </div>
      <br>
      
      <br>
      <h2 class="align-center"> Seleccione el periodo para Generar Reporte: </h2>
      <br>
      <div class="container">

        <div class="custom-control custom-switch mb-3">
          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Visualizar Última semana">
            <mat-slide-toggle id="op1" [checked]="op1" (change)="selOp('op1', $event)">Última semana</mat-slide-toggle>
          </div>
        </div>

        <div class="custom-control custom-switch mb-3">
          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Visualizar Últimos 15 días">
            <mat-slide-toggle id="op2" [checked]="op2" (change)="selOp('op2', $event)">Últimos 15 días</mat-slide-toggle>
          </div>
        </div>

        <div class="custom-control custom-switch mb-3">
          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Visualizar Último mes">
            <mat-slide-toggle id="op3" [checked]="op3" (change)="selOp('op3', $event)">Último mes</mat-slide-toggle>
          </div>
        </div>

        <div class="custom-control custom-switch mb-3">
          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Visualizar 3 mes">
            <mat-slide-toggle id="op4" [checked]="op4" (change)="selOp('op4', $event)">Último 3 mes</mat-slide-toggle>
          </div>
        </div>

        <div class="custom-control custom-switch mb-3">
          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Visualizar 6 mes">
            <mat-slide-toggle id="op5" [checked]="op5" (change)="selOp('op5', $event)">Último 6 mes</mat-slide-toggle>
          </div>
        </div>
        
        <div class="custom-control custom-switch mb-3">
          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Visualizar año">
            <mat-slide-toggle id="op6" [checked]="op6" (change)="selOp('op6', $event)">Último año</mat-slide-toggle>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4 margenFiltrosSlite">
              <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Personalizar Visualización por Rango de Fecha">
                <mat-slide-toggle id="op7" [checked]="op7" (change)="selOp('op7', $event)">Personalizar</mat-slide-toggle>
              </div>
          </div>
            <div class="col-md-2 margenFiltrosFecha">
            
              <mat-form-field [formGroup]="formReporte">
                <mat-label>Ingrese Rango de Fecha</mat-label>
                <div class="input-container">
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="fecha_desde" placeholder="Desde">
                    <input matEndDate formControlName="fecha_hasta" placeholder="Hasta">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                </div>
                <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

            </div>
        </div>          

      </div>

      <br>             
      <div class="col-12 text-center">
        <button
          mat-fab
          extended
          color="primary"
          type="submit"
          id="btnAgregar"
          class="btn btnConfirmar"
          data-bs-target="#staticBackdrop"
          (click)="GenerarReporte()"
          > 
        Generar Reportes          
        </button>
      </div>

      <br>
      <br>

    </div>

    <br>
    <br>
    <form [formGroup]="formReporte">
      <!-- Datos Estadísticos -->
      <div class="card cardFiltrado cardAnimate cardFlat"  *ngIf=habilitarBotonPDF>
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0 tituloCard">Datos Estadísticos </h4>
            <img
              src="../../../assets/analysis.png"
              class="image"
              style="width: 5%; height: 5%; padding-right: 5px"
              alt="..."
            />
          </div>
        </div>
        <br>

        <div class="row">          
          <div class="col-md-6">

            <h2 class="align-center"> Máximo Valor </h2>
            <table class="table" *ngIf="validarMedMax() == true">
              <thead class="encabezado">
                  <tr>              
                    <th style="text-align: center;" scope="col">Valor</th> 
                    <th style="text-align: center;" scope="col">Fecha</th> 
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medMax of MedMax let i=index"
                [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}" >
                <th style="vertical-align: middle" class="align-center">{{ medMax.medValor }}</th>                  
                <td style="vertical-align: middle" class="align-center">{{ medMax.medFechaHoraSms | date: 'yyyy-MM-dd HH:mm' }}</td>
              </tbody>
            </table>
            <div class="alert alert-primary text-center" role="alert" *ngIf="validarMedMax() == false">
              No hay Máximo Valor
            </div>
          </div>
          <br>
          <div class="col-md-6">

            <h2 class="align-center"> Mínimo Valor </h2>
            <table class="table" *ngIf="validarMedMin() == true">
              <thead class="encabezado">
                  <tr>              
                    <th style="text-align: center;" scope="col">Valor</th> 
                    <th style="text-align: center;" scope="col">Fecha</th> 
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medMin of MedMin let i=index"
                [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}" >
                <th style="vertical-align: middle" class="align-center">{{ medMin.medValor }}</th>
                <td style="vertical-align: middle" class="align-center">{{ medMin.medFechaHoraSms | date: 'yyyy-MM-dd HH:mm' }}</td>
              </tbody>
            </table>
            <div class="alert alert-primary text-center" role="alert" *ngIf="validarMedMin() == false">
              No hay Mínimo Valor
            </div>
          </div>
          <br>
        </div>
          
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="form-outline input-group mb-3">
              <span class="input-group-text">Promedio </span>
              <input type="text" class="form-control" id="promedio" value="promedio" formControlName="promedio" required readonly />            
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="form-outline input-group mb-3">
              <span class="input-group-text">Cantidad de Mediciones </span>
              <input type="text" class="form-control" id="cantMed" value="cantMed" formControlName="cantMed" required readonly />            
            </div>
          </div>
        </div>
        
        
          
       

      </div>

      <br>
      <br>

      <!-- Gráfico -->
      <div class="card cardFiltrado cardAnimate cardFlat" *ngIf=habilitarBotonPDF>
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0 tituloCard">Gráfico </h4>
            <img
              src="../../../assets/data-analysis.png"
              class="image"
              style="width: 5%; height: 5%; padding-right: 5px"
              alt="..."
            />
          </div>
        </div>
        <br>

        <div id="contenedor-graficos"></div>

        <br>
        <br>



          <div style="margin-left: 20px;" class="col-md-8">
            <h2 class="align-center"> Ingrese un Comentario: </h2>
            <div class="form-outline input-group mb-3">
              <textarea class="form-control comentario-input" id="comentario" formControlName="comentario" ></textarea>
            </div>
          </div>
        

      </div>
    </form>
    <br>
    <br>

    <!-- Tabla -->
    <form [formGroup]="formfiltro">

      <div class="card cardFiltrado cardAnimate cardFlat" *ngIf=habilitarBotonPDF>
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0 tituloCard"> Tabla </h4>
            <img
              src="../../../assets/spreadsheet.png"
              class="image"
              style="width: 5%; height: 5%; padding-right: 5px"
              alt="..."
            />
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-4 d-flex justify-content-center">
            <div class="input-container">
              <!-- Input 1 -->
              <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Medición">
                <label class="search-field">
                  <mat-label class="search-field label2 ng-tns-c97-48 ng-star-inserted">Buscar por número de Medición</mat-label>
                  <input formControlName="medId" type="text" class="form-control inputBusqueda2 .input-con-color-de-fondo" placeholder="Ej. 2323" (keyup)="esFiltrarMedicion($event)" />
                  <i class="fas fa-search FormatoIconos2" ></i>
                </label>
              </div>
            </div>
          </div>
        
          <div class="col-md-4 d-flex justify-content-center">
            <div class="input-container">
              <!-- Input 2 -->
              <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por nombre de Servicio">
                <label class="search-field">
                  <mat-label class="search-field label2 ng-tns-c97-48 ng-star-inserted">Buscar por nombre de Servicio</mat-label>
                  <input formControlName="serDescripcion" type="text" class="form-control inputBusqueda2 .input-con-color-de-fondo" placeholder="Ej. Temperatura" (keyup)="esFiltrarMedicion($event)" />
                  <i class="fas fa-search FormatoIconos2" ></i>
                </label>
              </div>
            </div>
          </div>
        
          <div class="col-md-4 d-flex justify-content-center">
            <div class="input-container">
              <!-- Input 3 -->
              <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por valor de Medición">
                <label class="search-field">
                  <mat-label class="search-field label2 ng-tns-c97-48 ng-star-inserted">Buscar por valor de Medición</mat-label>
                  <input formControlName="medValor" type="text" class="form-control inputBusqueda2 .input-con-color-de-fondo" placeholder="Ej. 35" (keyup)="esFiltrarMedicion($event)" />
                  <i class="fas fa-search FormatoIconos2" ></i>
                </label>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="row d-flex justify-content-center">

            <!-- Columna 1 -->
            <div class="col-md-4 d-flex justify-content-center margenFiltrosSlite2 ">
              <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Filtrar por Fecha">
                <mat-slide-toggle id="opFF" (change)="filtroFecha($event)">Filtrar por Fecha</mat-slide-toggle>
              </div>
            </div>

            <!-- Columna 2 -->
            <div class="col-md-4 d-flex justify-content-center margenFiltrosFecha">
              <mat-form-field [formGroup]="formfiltro">
                <mat-label>Ingrese Rango de Fecha</mat-label>
                <div class="input-container">
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="fecha_desde" placeholder="Desde">
                    <input matEndDate formControlName="fecha_hasta" placeholder="Hasta">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                </div>
                <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>

            <!-- Columna 3 -->
            <div class="col-md-4 d-flex justify-content-center margenFiltrosSlite">
              <div class="row margenFiltrosBtn">
                <div class="example-button-row">
                  <button mat-fab extended color="primary" class="btnAplicarFiltro" (click)="filtarXFechas()" [disabled]="!habilitarBoton">
                    <mat-icon>touch_app</mat-icon>
                    Aplicar Filtro
                  </button>
                </div>
              </div>
            </div>

        </div>

        <br>

        <div class="row d-flex justify-content-center"> 
          <div class="col-md-9">

          <!-- app.component.html -->
          <div class="table" *ngIf="dataSourceMediciones">
            <table mat-table [dataSource]="dataSourceMediciones" matSort #matSortMediciones="matSort">

            <!-- Columnas -->
            <ng-container matColumnDef="medId">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="medId">Num. Medición</th>
              <td class="table-row first-column" style="vertical-align: middle; text-align: textIzquierda"  mat-cell *matCellDef="let element">{{ element.medId }}</td>
            </ng-container>

            <ng-container matColumnDef="serDescripcion">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="serDescripcion">Nombre del Servicio</th>
              <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.serDescripcion }}</td>
            </ng-container>               
                  
            <ng-container matColumnDef="medValor">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="medValor">Valor</th>
              <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.medValor }}</td>
            </ng-container>  

            <ng-container matColumnDef="medFechaHoraSms">
              <th class="encabezado text-center" mat-header-cell *matHeaderCellDef mat-sort-header="medFechaHoraSms">Fecha Medición</th>
              <td class="table-row" style="vertical-align: middle; text-align: textIzquierda" mat-cell *matCellDef="let element">{{ element.medFechaHoraSms | date: 'yyyy-MM-dd hh:mm' }}</td>
            </ng-container>              
            
            <!-- Filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsMediciones"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMediciones;
              let i = index" [ngClass]="{ 'fila-par': i % 2 === 0, 'fila-impar': i % 2 !== 0 }">
            </tr>
            
          </table>
    
          <!-- Paginador -->
          
          <mat-paginator *ngIf="dataSourceMediciones "
            [length]="dataSourceMediciones.data.length"
            [pageSize]="pageSizeMediciones"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
            (page)="handlePageChangeMediciones($event)"
            showFirstLastButtons
            #paginatorMediciones
          ></mat-paginator>
    
          <div class="align-center" *ngIf="validarFiltradoMedicion() == true">
          </div>
    
          <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoMedicion() == false">
            ¡No se ha encontrado ninguna Medición!
          </div>    
          </div>

          </div>
        </div>

      </div>

    </form>

    <br>
    <br>

    <!-- Generar PDF -->
    <div class="card cardFiltrado cardAnimate cardFlat"  *ngIf=habilitarBotonPDF>
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0 tituloCard">Generar Reporte PDF </h4>
          <img
            src="../../../assets/download.png"
            class="image"
            style="width: 5%; height: 5%; padding-right: 5px"
            alt="..."
          />
        </div>
      </div>
      <br>

      <div class="col-12 text-center" style="margin-left: -50px;">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="custom-control custom-switch mb-3">
            <div class="form-outline input-group" data-toggle="tooltip" data-placement="center" title="Visualizar en reporte las mediciones">
              <mat-slide-toggle id="op1T" [checked]="op1T" (change)="selOpT()">¿Visualizar en reporte las mediciones?</mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-12 text-center">
        <button
          mat-fab
          extended
          color="primary"
          type="submit"
          id="btnAgregar"
          class="btn btnConfirmar"
          data-bs-target="#staticBackdrop"
          (click)="reportePDF()" [disabled]="!habilitarBotonPDF"> Generar Reportes PDF      
        </button>
      </div>
            
      <br>
      <br>
      
    </div>

    <br>
    <br>
  </ng-container>

  </mat-step>
</mat-vertical-stepper>
</div>  
<br/>
</div>