<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h1 class="text-center">Consultar Reportes</h1>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Seleccionar Central para ver Mis Paneles de Monitoreo</h4>            
            <button type="button" class="btn-unstyled" (click)="toggleCollapse1()">
              <svg *ngIf="!isCollapsed1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
              <svg *ngIf="isCollapsed1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-body" [ngClass]="{'collapse': isCollapsed1}">



<div class="row">
    <div class="col-3"></div>
    <div class="col-6 search-container">
      <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por Código de Central">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </span>
        <input type="text" class="form-control" placeholder="Filtrar por Código de Central" (keyup)="esFiltrar($event , 'codigo')">
      </div>
    </div>
  </div>



<div class="row">
  <div class=".col-xxl-4"></div>
  <div class="col-12">      
      <table class="table">
        <thead class="encabezado">
            <tr>            
              <th (click)="ordenarPor('cenNro')" [appSort]="CentralConsultaFiltrados" data-order="desc"
                  data-name="cenNro" style="text-align: center;"><a>Cod. Central {{ordenarIcono('cenNro')}}</a></th>
              <th (click)="ordenarPor('cenImei')" [appSort]="CentralConsultaFiltrados" data-order="desc"
                  data-name="cenImei" style="text-align: center;"><a>IMEI {{ordenarIcono('cenImei')}}</a></th>
              <th (click)="ordenarPor('cenCoorX')" [appSort]="CentralConsultaFiltrados" data-order="desc"
                  data-name="cenCoorX" style="text-align: center;"><a>Coordenada X {{ordenarIcono('cenCoorX')}}</a></th>             
              <th (click)="ordenarPor('cenCoorY')" [appSort]="CentralConsultaFiltrados" data-order="desc"
                  data-name="cenCoorY" style="text-align: center;"><a>Coordenada Y {{ordenarIcono('cenCoorY')}}</a></th>             
                          
              <th scope="col" style="text-align: center;">Seleccionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let central of CentralConsultaFiltrados; let i=index"
            [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}"
            (click)="esfilaSeleccionada(central)">
              <th style="vertical-align: middle" class="align-center">{{ central.cenNro }}</th>
              <td style="vertical-align: middle" class="align-center">{{ central.cenImei }}</td>
              <td style="vertical-align: middle" class="align-center">{{ central.cenCoorX }}</td>
              <td style="vertical-align: middle" class="align-center">{{ central.cenCoorY }}</td>              
              <td class="align-center">
                <button type="button" class="btn" (click)="esfilaSeleccionada(central); seleccionarCentral()" title="Ver Más Opciones">     
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                    <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                  </svg>        
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltrado() == false">      ¡No se ha encontrado ninguna Central!
  </div>

</div>
</div>
</div>
</div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Paneles de Reportes</h4>            
            <button type="button" class="btn-unstyled" (click)="toggleCollapse2()">
              <svg *ngIf="!isCollapsed2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
              <svg *ngIf="isCollapsed2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-body" [ngClass]="{'collapse': isCollapsed2}">

          <h4> Seleccione el Servicio para Generar Reporte:  </h4>
          <br>

          <div class="row">
            <div class="col-md-6">
              <h4> Servicios Disponibles </h4>
              <table class="table" *ngIf="validarFiltradoServicios() == true">
                <thead class="encabezado">
                    <tr>     
                      <th (click)="ordenarServicioPor('serId')" [appSort]="ServiciosCentral" data-order="desc"
                      data-name="serId" style="text-align: center;"><a>Cod. {{ordenarIconoServicio('serId')}}</a></th>            
                      <th (click)="ordenarServicioPor('serDescripcion')" [appSort]="ServiciosCentral" data-order="desc"
                      data-name="serDescripcion" style="text-align: center;"><a>Nombre de Servicio {{ordenarIconoServicio('serDescripcion')}}</a></th>                        
                      <th scope="col">Agregar Serv.</th> 
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servicio of ServiciosCentral let i=index"
                  [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}"
                  (click)="esfilaSeleccionadaServicio(servicio)">
                  <th style="vertical-align: middle" class="align-center">{{ servicio.serId }}</th>
                  <td style="vertical-align: middle">{{ servicio.serDescripcion }}</td>
                  <td class="align-center">
                    <button type="button" class="btn"
                    data-bs-target="#staticBackdrop" (click)="agregarServicio(servicio)" title="Agregar Servicio">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                      </svg>
                    </button>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServicios() == false">
                No hay Servicios disposable
              </div>
            </div>
            <div class="col-md-6">
              <h4> Servicio a Generar Reporte </h4>
              <table class="table" *ngIf="validarFiltradoServiciosGraficar() == true">
                <thead class="encabezado">
                    <tr>              
                      <th (click)="ordenarServicioGraficarPor('serId')" [appSort]="ServiciosGraficar" data-order="desc"
                      data-name="serId" style="text-align: center;"><a>Cod. {{ordenarIconoServicioGraficar('serId')}}</a></th>            
                      <th (click)="ordenarServicioGraficarPor('serDescripcion')" [appSort]="ServiciosGraficar" data-order="desc"
                      data-name="serDescripcion" style="text-align: center;"><a>Nombre de Servicio {{ordenarIconoServicioGraficar('serDescripcion')}}</a></th>                        
                      <th scope="col">Extraer Serv.</th> 
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servicio of ServiciosGraficar let i=index"
                  [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}"
                  (click)="esfilaSeleccionadaServicioGraficar(servicio)">
                  <th style="vertical-align: middle" class="align-center">{{ servicio.serId }}</th>
                  <td style="vertical-align: middle">{{ servicio.serDescripcion }}</td>
                  <td class="align-center">
                    <button type="button" class="btn"
                    data-bs-target="#staticBackdrop" (click)="extraerServicio(servicio)" title="Extrar Servicio">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-node-minus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM8 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 8 8z"/>
                      </svg>
                    </button>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoServiciosGraficar() == false">
                No tiene Servicios Activos para Generar Reporte
              </div>
            </div>
          </div> 

          
          <br>
          <h4> Seleccione el periodo para Generar Reporte: </h4>
          <br>
          <form [formGroup]="formReporte">     
          <div class="container">
              <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="op1" [checked]="op1" (change)="selOp($event)">
                <label class="custom-control-label" for="op1">Última semana</label>
              </div>            
              <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="op2" [checked]="op2" (change)="selOp($event)">
                <label class="custom-control-label" for="op2">Últimos 15 días</label>
              </div>
              <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="op3" [checked]="op3" (change)="selOp($event)">
                <label class="custom-control-label" for="op3">Último mes</label>
              </div>
              <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="op4" [checked]="op4" (change)="selOp($event)">
                <label class="custom-control-label" for="op4">Último 3 mes</label>
              </div>
              <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="op5" [checked]="op5" (change)="selOp($event)">
                <label class="custom-control-label" for="op5">Último 6 mes</label>
              </div>
              <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="op6" [checked]="op6" (change)="selOp($event)">
                <label class="custom-control-label" for="op6">Último año</label>
              </div>
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-switch mb-3">
                    <input type="checkbox" class="custom-control-input" id="op7" [checked]="op7" (change)="selOp($event)">
                    <label class="custom-control-label" for="op7">Personalizar</label>
                  </div>
                </div>    
                  <div class="col">
                    <div class="form-outline input-group mb-2" id="datepicker">
                      <span class="input-group-text">Desde</span>
                      <input type="date" id="desde" class="form-control" formControlName="fecha_desde">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline input-group mb-2" id="datepicker">
                      <span class="input-group-text">Hasta</span>
                      <input type="date" id="hasta" class="form-control" formControlName="fecha_hasta">
                    </div>             
                  </div>                
              </div>            
          </div>

          <br>             
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-success" data-bs-toggle="button"                        
              (click)="GenerarReporte()"> Generar Reportes
            </button>
          </div>     

          <br>
          <h4> Datos Estadisticos: </h4>
          <br>

          <div class="col-md-6">
            <h4> Máximo Valor: </h4>
            <table class="table" *ngIf="validarMedMax() == true">
              <thead class="encabezado">
                  <tr>              
                    <th style="text-align: center;" scope="col">Valor</th> 
                    <th style="text-align: center;" scope="col">Fecha</th> 
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medMax of MedMax let i=index"
                [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}" >
                <th style="vertical-align: middle" class="align-center">{{ medMax.medValor }}</th>                  
                <td style="vertical-align: middle" class="align-center">{{ medMax.medFechaHoraSms | date: 'yyyy-MM-dd HH:mm' }}</td>
              </tbody>
            </table>
          </div>
          <br>
          <div class="col-md-6">
            <h4> Mínimo Valor: </h4>
            <table class="table" *ngIf="validarMedMin() == true">
              <thead class="encabezado">
                  <tr>              
                    <th style="text-align: center;" scope="col">Valor</th> 
                    <th style="text-align: center;" scope="col">Fecha</th> 
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medMin of MedMin let i=index"
                [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}" >
                <th style="vertical-align: middle" class="align-center">{{ medMin.medValor }}</th>
                <td style="vertical-align: middle" class="align-center">{{ medMin.medFechaHoraSms | date: 'yyyy-MM-dd HH:mm' }}</td>
              </tbody>
            </table>
          </div>
          <br>
          <div class="col-md-6">
            <div class="form-outline input-group mb-3">
              <span class="input-group-text">Promedio </span>
              <input type="text" class="form-control" id="promedio" value="promedio" formControlName="promedio" required readonly />            
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-outline input-group mb-3">
              <span class="input-group-text">Cantidad de Medediciones </span>
              <input type="text" class="form-control" id="cantMed" value="cantMed" formControlName="cantMed" required readonly />            
            </div>
          </div>        

          <br>
          <h4> Grafico: </h4>
          <br>
          <div id="contenedor-graficos"></div>
          <!-- <div id="grafico2" style="width: 1000px; height: 500px;"></div> -->

          <br>
          <br>
          <div class="col-xxl-4">
            <h4>Ingrese un Comentario:</h4>
            <div class="form-outline input-group mb-3">
              <textarea class="form-control comentario-input" id="comentario" formControlName="comentario"></textarea>
            </div>
          </div>
          
          <div>
            <br>
            <h4> Tabla: </h4>
            <br>
                  <br>
                    <h5>Filtros:</h5>
                    <form [formGroup]="formfiltro">
                      <div class="row">
                        <div class="col-4">
                          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por número de Medición">
                            <span class="input-group-text">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                              </svg>
                            </span>
                            <input formControlName="medId" type="text" class="form-control" placeholder="Buscar por número de Medición" (keyup)="esFiltrarMedicion($event)">
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por nombre de Servicio">
                            <span class="input-group-text">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                              </svg>
                            </span>
                            <input formControlName="serDescripcion" type="text" class="form-control" placeholder="Buscar por nombre de Servicio" (keyup)="esFiltrarMedicion($event)">
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-outline input-group" data-toggle="tooltip" data-placement="top" title="Buscar por valor de Medición">
                            <span class="input-group-text">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                              </svg>
                            </span>
                            <input formControlName="medValor" type="text" class="form-control" placeholder="Buscar por valor de Medición" (keyup)="esFiltrarMedicion($event)">
                          </div>
                        </div>
                      </div>
                      
                      <br>

                      <div class="row align-items-center justify-content-center text-center"> 
                        <div class="col ">
                          <div class="custom-control custom-switch mb-3">
                            <input type="checkbox" class="custom-control-input" id="opFF" (change)="filtroFecha($event)">
                            <label class="custom-control-label" for="opFF">Filtar por Fecha</label>
                          </div>                 
                        </div>
                        <div class="col-4">
                          <div class="form-outline input-group mb-2" >
                            <span class="input-group-text">Desde</span>
                            <input type="date" id="fecha_desde" class="form-control" formControlName="fecha_desde">
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-outline input-group mb-2">
                            <span class="input-group-text">Hasta</span>
                            <input type="date" id="fecha_hasta" class="form-control" formControlName="fecha_hasta">
                          </div>             
                        </div>   
                        <div class="col">
                          <button type="submit" class="btn btn-success" data-bs-toggle="button" 
                            (click)="filtarXFechas()" [disabled]="!habilitarBoton">
                            Aplicar Filtro
                          </button>
                        </div>      
                      </div>

                    </form>          
            <br>

            <div class="row" >
              <div class=".col-xxl-4"></div>
              <div class="col-12">      
                  <table class="table">
                    <thead class="encabezado">
                        <tr>            
                          <th (click)="ordenarMedicionPor('medId')" [appSort]="MedicionesTablaFiltrados" data-order="desc"
                              data-name="medId" style="text-align: center;"><a>Num. Medición {{ordenarIconoMedicion('medId')}}</a></th>
                          <th (click)="ordenarMedicionPor('serDescripcion')" [appSort]="MedicionesTablaFiltrados" data-order="desc"
                              data-name="serDescripcion" style="text-align: center;"><a>Servicio {{ordenarIconoMedicion('serDescripcion')}}</a></th>
                          <th (click)="ordenarMedicionPor('medValor')" [appSort]="MedicionesTablaFiltrados" data-order="desc"
                              data-name="medValor" style="text-align: center;"><a>Valor {{ordenarIconoMedicion('medValor')}}</a></th>
                          <th (click)="ordenarMedicionPor('medFechaHoraSms')" [appSort]="MedicionesTablaFiltrados" data-order="desc"
                              data-name="medFechaHoraSms" style="text-align: center;"><a>Fecha Medición {{ordenarIconoMedicion('medFechaHoraSms')}}</a></th>             
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let medicion of MedicionesTablaFiltrados; let i=index"
                        [ngClass]="{'fila-par': i%2==0, 'fila-impar': i%2==1}"
                        >
                          <th style="vertical-align: middle" class="align-center">{{ medicion.medId }}</th>
                          <td style="vertical-align: middle" class="align-center">{{ medicion.serDescripcion }}</td>
                          <td style="vertical-align: middle" class="align-center">{{ medicion.medValor }}</td>
                          <td style="vertical-align: middle" class="align-center">{{ medicion.medFechaHoraSms | date: 'yyyy-MM-dd hh:mm' }}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class="alert alert-primary text-center" role="alert" *ngIf="validarFiltradoMedicion() == false">
                ¡No se ha encontrado ninguna Medición!
              </div>
            </div>  
          </div> 

        </form>

        <div class="col-12 text-center">
          <h5>¿Visualizar en reporte las mediciones?:</h5>          
          <div class="container">
            <div class="custom-control custom-switch mb-3">
              <input type="checkbox" class="custom-control-input" id="op1T" [checked]="op1T" (change)="selOpT($event)">
              <label class="custom-control-label" for="op1T">Sí</label>
            </div>
          </div>
        </div>

        <div class="col-12 text-center">
          <button type="submit" class="btn btn-success" data-bs-toggle="button"                        
            (click)="reportePDF()" [disabled]="!habilitarBotonPDF"> Generar Reportes PDF
          </button>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
<br/>