@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Roboto:wght@300&family=Source+Sans+3:ital@1&display=swap');

html {
  overflow-x: hidden;
  background-color: #FAFAFA;
}

html,
body {
  /* height: 20%; */
  height: 1vh !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.tituloFuente{
font-family: 'Montserrat', sans-serif;
}
body[_ngcontent-bta-c201] {
  min-height: initial;
  height: initial;
}






